<!-- apenados/search.html -->
<html>
<head>
  <!-- head content goes here -->
</head>
<body>
<h1>Search Apenados</h1>
<form th:action="" method="post">
  <label for="cpf">CPF:</label>
  <input type="text" id="cpf" name="cpf" th:value="${cpf}" />

  <label for="nome">Nome:</label>
  <input type="text" id="nome" name="nome" th:value="${nome}" />

  <label for="dataNascimento">Data de Nascimento:</label>
  <input type="date" id="dataNascimento" name="dataNascimento" th:value="${dataNascimento}" />

  <label for="telefone">Telefone:</label>
  <input type="text" id="telefone" name="telefone" th:value="${telefone}" />

  <label for="nomeDaMae">Nome da Mãe:</label>
  <input type="text" id="nomeDaMae" name="nomeDaMae" th:value="${nomeDaMae}" />

  <input type="submit" value="Search">
</form>
</body>
</html>