<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <main>
        <header><span>R</span>essocia<span>D</span>igi</header>
        <section>
           <div class="left">
            <h1 class="t1"> <span class="letra">RessociaDigi:</span> Um projeto que muda vidas </h1>
            <p>
                O Patronato Penitenciário é responsável por acompanhar os 
                egressos, prestar assistência psicossocial e fomentar a
                ressocialização viabilizando cursos e vagas de trabalho. 
                Atualmente, 12.912 reeducandos são acompanhados pela entidade. 
                Encontram-se no mercado de trabalho 1.266 reeducandos.
            </p>
           </div>
            <div class="imagem">
                <img src="image.jpeg" alt="">
            </div>
        </section>

        <article>
            
            <div class="servicos">
                <p>SERVIÇOS</p>
                <DIV class="card-container">
                    <div class="card">
                        <div class="superior-card">
                            <img src="res.png" alt="" width="260px" >
                        </div>
                        <h4>Cadastrar Apenado</h3>
                        <p>
                            Cadastre e armazene os dados de um determinado apenado.
                        </p>
                    </div>
                    <div class="card">
                        <div class="superior-card">
                            <img src="empre.png" alt="" width="200px"  >
                        </div>
                        <h4>Cadastrar Empresa</h3>
                        <p>
                            Cadastre e armazene os dados de um determinado apenado.
                        </p>
                    </div>
                    <div class="card">
                        <div class="superior-card">
                            <img src="vagas.png" alt="" width="212px"  >
                        </div>
                        <h4>Cadastrar Vaga</h3>
                        <p>
                            Cadastre e armazene os dados de um determinado apenado.
                        </p>

                    </div>
                </DIV>

            </div>

        </article>

    </main>
    
</body>
</html>