<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="signIn.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="container-imagem">
            <img src="patronado.png" alt="" width="500px" height="500px">

        </div>
        <div class="login">
            <form action="">
                <legend>LOGIN</legend>
                <div class="container-input">
                    <div class="input-login">
                        <label for="usuario">Usuário</label>
                        <input type="text" id="usuario">
                    </div>
                    <div class="input-login">
                        <label for="senha">Senha</label>
                        <input type="text" id="senha">
                    </div>
                </div>
                <div class="checkbox-lembre">
                    <input type="checkbox">
                    <label for="Lembra-me ">Lembra-me</label>
                </div>
                <div class="button-entrar">
                    <button>Entrar</button>
                </div>
                <div class="aviso">
                        Ainda não possui uma conta? <button class="cadastrar"><span>Cadastra-se</span></button>
                    
                </div>
            </form>
        </div>
    </main>
</body>
</html>