<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="vagas.css">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>Cadastrar Vaga</h1>
        <form action="">
            
            <div class="input-container">
                <div id="empresa-input input" class="input">
                    <label for="empresa">Empresa</label>
                    <input type="text" id="empresa">
                </div>
                <div id="endereço-input" class="input">
                    <label for="localizacao">Locarização</label>
                    <input type="text" id="localizacao">
                </div>
                <div id="tipo-input" class="input">
                    <label for="tipo">Tipo</label>
                    <input type="text" id="tipo">
                </div>
                <div id="qtd-input" class="input">
                    <label for="qtd">Quantidade</label>
                    <input type="number" id="qtd">
                </div>
                <div id="data1-input" class="input">
                    <label for="dataDeSolicitacao">Data de solicitação</label>
                    <input type="date" id="dataDeSolicitacao">
                </div>
                <div id="data2-input" class="input">
                    <label for="dataDeAtendimento">data de Atendimento</label>
                    <input type="date" id="dataDeAtendimento">
                </div>
                <div id="carga-input" class="input">
                    <label for="cargaHoraria">carga horária</label>
                    <input type="text" name="" id="cargaHoraria">
                </div>

                <div id="contato-input" class="input">
                    <label for="contato">contato</label>
                    <input type="text" id="contato">
                </div>

                <div id="Perfil" class="input">
                    <label for="perfil">procura por:</label>
                    <textarea name="" id="perfil" cols="30" rows="10"></textarea>
                </div>

                <div id="restricao" class="input">
                    <label for="restricao">restrição:</label>
                    <textarea name="" id="restricao" cols="30" rows="10"></textarea>
                </div>

            </div>

            <!-- <button>Enviar</button> -->


        </form>
    </main>
    
</body>
</html>