<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="vagas.css">
    <title>Cadastro de vaga</title>
</head>
<body>
   <main>
    <nav>
        <img src="" alt="">
    </nav>

    <section>
        <form action="">
            <div id="titulo">
                <h1>Cadastro de Vaga</h1>
            </div>

            <div class="container-input-vagas">
                <div class="input-normal" id="nomeEmpresa">
                    <label for="empresaSelect">selecione a empresa</label>
                    <select name="empresaSelect" id="empresaSelect">
                        <!-- <option value="">empresa x</option>
                        <option value="">empresa x</option> -->
                    </select>
                </div>
                <div class="input-normal">
                    <label for="interlocutor">interlocutor</label>
                    <input type="text" id="interlocutor">
                </div>
                <div class="input-normal">
                    <label for="qtdMasculina">número de vagas masculinas</label>
                    <input type="number" id="qtdMasculina">
                </div>
                <div class="input-normal">
                    <label for="qtdFeminino">número de vagas femininas</label>
                    <input type="number" id="qtdFeminino">
                </div>
                <div class="input-normal">
                    <label for="tipo">tipo</label>
                    <input type="text" id="tipo">
                </div>
                <div class="input-normal">
                    <label for="cargaHoraria">carga horária</label>
                    <input type="text" id="cargaHoraria">
                </div>

                <div class="input-normal">
                    <label for="procura">procura por:</label>
                    <textarea name="procura" id="procura" cols="34" rows="8"></textarea>
                </div>
                <div class="input-normal">
                    <label for="restricao">restrição:</label>
                    <textarea name="procura" id="procura" cols="34" rows="8"></textarea>
                </div>
                <div class="tap">
                    <div class="container-botao">
                        <button id="voltar">Voltar</button>
                        <button id="enviar"> enviar</button>
                    </div>
                </div>
            </div>
        </form>
    </section>
   </main>
    
</body>
</html>