<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="padrao.css">
    <title>Layout padrão</title>
</head>
<body>
    <main>
        <nav id="menu-lateral">
            <img src="logoRD.png" alt="">
            <ul>
                <li id="DadosPessoais" class="topico-menu">Dados pessoais</li>
                <li id="endereco" class="topico-menu">Endereco</li>
                <li id="instrucao" class="topico-menu">Instrução</li>
                <li id="situacional" class="topico-menu">Situacional</li>    
            </ul>
        </nav>
            <section>

             <form action="">
                <div id="titulo">
                    <h1>TÍTULO</h1>
                </div>

                <div id="grupo-input">
                <!--INSIRA O INPUTS ABAIXO-->

                    <!--cada input e label/span devem está dentro de uma div-->
                    <div></div>
                </div>

                <div id="botao-proximo">
                    <button>Proximo</button>
                </div>
                
             </form>        
            </section>
       
    </main>
    
</body>
</html>