 /* Padronizando botoes */
 /* Estilo base para o botão */
 
 .meu-botao {
     display: inline-block;
     padding: 10px 20px;
     font-size: 16px;
     font-weight: bold;
     text-align: center;
     text-decoration: none;
     border: none;
     border-radius: 5px;
     color: #ffffff;
     background-color: #007bff;
     /* Cor de fundo padrão */
 }
 /* Estilo quando o botão é passado por cima */
 
 .meu-botao:hover {
     background-color: #0056b3;
     /* Cor de fundo quando passa o mouse */
 }
 /* Estilo quando o botão é pressionado */
 
 .meu-botao:active {
     background-color: #003380;
     /* Cor de fundo quando pressionado */
 }
 /* Botao    */
 /*   medio Azul  */
 
 #botao-voltar {
     background-color: #007bff;
     color: #ffffff;
     /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5)); */
     text-transform: uppercase;
     font-weight: bold;
     width: 9rem;
     height: 3rem;
     font-family: 'Arial';
     font-style: normal;
     font-size: 1.2rem;
     line-height: 45px;
     letter-spacing: 0.08em;
     border: none;
     border-radius: 5px;
     padding: 10px 20px;
     text-decoration: none;
     text-align: center;
     margin-left: 10px;
 }
 
 #botao-voltar:hover {
     background-color: #0056b3;
     /* Cor de fundo quando passa o mouse */
 }
 /* Estilo quando o botão é pressionado */
 
 #botao-voltar:active {
     background-color: #003380;
     /* Cor de fundo quando pressionado */
 }
 /* Botao medio Azul FIM */
 /* Botao medio Laranja  */
 /* Laranja */
 
 #botao-enviar {
     background-color: rgb(255, 119, 0);
     color: white;
     /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5)); */
     text-transform: uppercase;
     width: 9rem;
     height: 3rem;
     font-family: 'Arial';
     font-style: normal;
     font-size: 1.2rem;
     line-height: 45px;
     letter-spacing: 0.08em;
     border: none;
     border-radius: 5px;
     padding: 10px 20px;
     text-decoration: none;
     text-align: center;
     margin-left: 10px;
 }
 
 #botao-enviar:hover {
     background-color: rgb(152, 71, 1);
     /* Cor de fundo quando passa o mouse */
 }
 /* Estilo quando o botão é pressionado */
 
 #botao-enviar:active {
     background-color: rgb(103, 48, 0);
     /* Cor de fundo quando pressionado */
 }
 /* Botao medio Azul FIM */
 /* Fim do botao medio */