/* @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 5px;
    background: rgba(246, 130, 31, 1);
}
::-webkit-scrollbar-thumb {
	width: 5px;
    background: rgba(246, 130, 31, 1);
}

body {
    font-family: 'Anton', sans-serif;
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(222, 222, 222, 1);
    padding: 30px;
   
}

main {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80rem;
    height: 50rem;
    border-radius: 9px;
    margin-bottom: 30px;
    
}

section {
    width: 60rem;
    height: 55rem;
    background: #FFFFFF;
    box-shadow: 9px 9px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

nav {
    width: 20rem;
    height: 45rem;
    padding: 5px;
    background-color: rgba(222, 222, 222, 1);
    border-radius: 5px;

}

#titulo {
    height: 9rem;
    border-bottom: black 8px;
}

#titulo h1 {
    
    padding: 1.2rem;
    border-bottom: solid 4px rgba(0, 0, 0, 0.15);
    font-size: 2em;
    /* font-family: 'Alfa Slab One', cursive; */
    /* font-family: 'Righteous', cursive;
    font-weight:bolder ; */

    letter-spacing: 2px;
    padding: 1.2rem;
    border-bottom: solid 4px rgba(0, 0, 0, 0.15);
    font-size: 2em;
}

.container-input-empresa{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 2em;
    width: 80%;
    margin: 0 auto;
}

.input-normal>input,
.input-normal>select {
    width: 18rem;
    height: 2.5rem;
    border-radius: 6px;
}

.input-normal>label {
    text-transform: uppercase;
    font-size: 0.9rem;
    /* font-weight: 700; */
    display: block;
    letter-spacing: 1px;
}
.input-normal input{
    font-size: 1.1em;
    padding: 10px;
}

.cep, .numero{
    display: flex;
    flex-direction: column;
}

.cep input{
    width: 8rem;
}
.numero input{
    width: 8rem;
}

#containerCep{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.cep, .numero{
    display: flex;
    flex-direction: column;
}

.cep input{
    width: 8rem;
    height: 2.5rem;
    padding: 10px;
    border-radius: 6px;
}
.numero input{
    width: 8rem;
    height: 2.5rem;
    padding: 10px;
    border-radius: 6px;
}

footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 7em;
}

#botao-enviar{
    /*border: none;
    outline: none;
    width: 6rem;
    border-radius: 6px;
    height: 3rem;
    background-color: rgb(149, 107, 29);
    color: white;
    font-size: x-large;
    cursor: pointer;*/
    
    background-color: rgba(246, 130, 31, 1);
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    text-transform: uppercase;
    width: 9rem;
    height: 3rem;
    font-family: 'Arial';
    font-style: normal;
    font-size: 1.2rem;
    line-height: 29px;
    letter-spacing: 0.08em;
    border: none;
    border-radius: 5px;
}

#botao-voltar{
   /*border: none;
    outline: none;
    width: 6rem;
    border-radius: 6px;
    height: 3rem;
    background-color: rgb(99, 96, 96);
    color: white;
    font-size: x-large;
    cursor: pointer; */
    
    background-color: rgba(99, 96, 96, 1);
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    text-transform: uppercase;
    width: 9rem;
    height: 3rem;
    font-family: 'Arial';
    font-style: normal;
    font-size: 1.2rem;
    line-height: 29px;
    letter-spacing: 0.08em;
    border: none;
    border-radius: 5px;
}

input {
    outline: rgb(203, 139, 19);
}
.container-input{
    background-color: aqua;
}

/*res*/
@media (max-width:600px){
    h1{
        display: flex;
        justify-content: center;
        margin: 0;
        
    }
    .container-aplicacao{
        background-color: black;
    }
    .container-input-empresa{
        background-color: aqua;
    }

}
