    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    button a{
        cursor:pointer;
    }
     ::-webkit-scrollbar-track {
        background-color: #F4F4F4;
    }
    
     ::-webkit-scrollbar {
        width: 15px;
        background: rgba(246, 130, 31, 1);
        border-radius: 20px;
    }
    
     ::-webkit-scrollbar-thumb {
        width: 5px;
        background: rgba(246, 130, 31, 1);
        border-radius: 20px;
    }
    
    .letra {
        color: rgba(246, 130, 31, 1);
    }
    
    header {
        width: 100%;
        position: static;
        height: 4rem;
        border-bottom: solid 1px rgba(121, 117, 117, 0.736);
        font-size: 3rem;
        display: flex;
        align-items: center;
        font-family: 'Rubik Dirt', cursive;
        display: flex;
    }
    
    .cabecalho {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        top: 0;
        left: 0;
        z-index: 999;
    }
    
    .logo {
        font-size: 40px;
        display: flex;
        margin-right: 5rem;
    }
    
    .login-btn {
        margin-left: 5rem;
        display: none;
        width: 16rem;
        justify-content: flex-end;
    }
    
    .sair {
        width: 5rem;
        outline: none;
        border: none;
        height: 2rem;
        background-color: rgb(255, 0, 0);
        color: white;
        border-radius: 3px;
        font-family: 'Mukta', sans-serif;
        font-size: 17px;
        cursor: pointer;
        box-shadow: 2px 2px 5px rgb(50, 50, 50);
    }
    
    .sair>a {
        text-decoration: none;
        color: white;
    }
    
    .sair>a:visited {
        text-decoration: none;
        color: white;
    }
    
    a {
        color: rgba(246, 130, 31, 1);
        text-decoration: none;
    }
    
    a:hover {
        color: rgb(175, 92, 22);
        text-decoration: none;
    }
    
    a:visited {
        color: rgba(246, 130, 31, 1);
        text-decoration: none;
    }
    
    .registrar {
        width: 8rem;
        outline: none;
        border: none;
        height: 2rem;
        background-color: rgb(196, 146, 28);
        color: white;
        margin-right: 20px;
        border-radius: 6px;
        font-family: 'Mukta', sans-serif;
        font-size: 17px;
        background-color: none;
        cursor: pointer;
    }
    
    section {
        width: 60%;
        margin: 5% auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        /*margin-top: 70px;
    column-gap: 20px;*/
    }
    
    .left {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .t1 {
        font-size: 2rem;
        font-family: 'Kanit', sans-serif;
    }
    
    .t1 span {
        text-decoration: underline;
    }
    
    .texto-infomativo {
        font-size: 1.2rem;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        margin-top: 1rem;
    }
    
    article {
        /*  border: solid 4px ; */
        width: 90%;
        margin: 5% auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
    /*.servicos{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;

    
}*/
    
    .servicos>p {
        margin-bottom: 20px;
        letter-spacing: 2px;
        font-weight: 900;
    }
    
    .card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .new-img{
        width:22rem;
    }
    .new-card {

        /*height: 25rem;*/
        margin: 1rem;
    }
    
    .superior-card {
        display: flex;
        justify-content: center;
        padding: 5px;
        background: rgb(82, 81, 79);
        /* background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%); */
    }
    
    .cropped1 {
        width: 352px;
        /* width of container */
        height: 210px;
        /* height of container */
        object-fit: cover;
        /*object-position: 20% 10%;*/
        border: 5px solid black;
    }
    
    h4 {
        font-size: 1.7rem;
        padding: 20px;
        font-family: 'Josefin Sans', sans-serif;
        padding-bottom: 5px;
    }
    
    h4:hover {
        text-decoration: underline;
    }
    
    img {
        border-radius: 0.4rem;
        width: 120%;
    }
    
    .imagem {
        padding: 5%;
    }
    /*.imagem-card{*/
    /*    background-size: 390%;*/
    /*    width: 90%;*/
    /*    height: 90%;*/
    /*}*/
    
    .descricao-card {
        padding: 15px;
        font-family: 'Heebo', sans-serif;
        color: rgba(0, 0, 0, 0.666);
    }
    /*res*/
    
    @media(max-width: 1200px) {
        .imagem {
            padding: 0;
            display: flex;
            justify-content: center;
            margin: 2rem;
        }
        .left {
            display: flex;
            justify-content: center;
            text-align: center;
        }
        .left>h1 {
            text-align: center;
        }
        img {
            width: 80%;
            display: flex;
            justify-content: center;
        }
        section {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
        article {
            width: 80%;
        }
    }
    
    @media (max-width: 1025px) {
        .imagem {
            padding: 0;
            display: flex;
            justify-content: center;
            margin: 2rem;
        }
        .left {
            display: flex;
            justify-content: center;
            text-align: center;
        }
        .left>h1 {
            text-align: center;
        }
        img {
            width: 80%;
            display: flex;
            justify-content: center;
        }
        section {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
        article {
            width: 80%;
        }
    }
    
    @media (max-width: 600px) {
        .imagem {
            padding: 0;
            display: flex;
            justify-content: center;
            margin: 2rem;
        }
        .left {
            display: flex;
            justify-content: center;
            text-align: center;
        }
        .left>h1 {
            text-align: center;
        }
        img {
            width: 300px;
            display: flex;
            justify-content: center;
        }
        section {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }
        article {
            width: 80%;
        }
        .card {
            width: 350px;
            height: 400px;
        }
        .logo {
            margin: 0;
        }
        .login-btn {
            margin: 0;
            display: none;
        }
    }
    
    @media (max-width: 450px) {
        .cabecalho {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        header {
            margin: 10px 0;
            height: 7rem;
        }
        .login-btn {
            display: none;
            justify-content: flex-start;
        }
        .left {
            text-align: justify;
        }
    }