@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

::-webkit-scrollbar-track {
     background-color: #ffffff;
}

::-webkit-scrollbar {
     width: 15px;
     background: #222222;
     border-radius: 20px;
}

::-webkit-scrollbar-thumb {
     width: 5px;
     background: #222222;
     border-radius: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 1vh;
    background-color: #ffffff;
    color: #222222;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    width: 100%;
    top: 0;
    background-image: url("../imgs/image.jpeg");
    background-size: cover;
    padding: 150px 100px 50px 100px;

}
main>div{
    width: 60%;
    margin:5rem auto;
    font-size: 20px;
}
h1{
    font-size: 6rem;
    font-family: 'Rubik Dirt', cursive;
    font-weight: 300;
    color: #eeeeee;
    padding: 1rem;
}
p{
    margin: 15px auto;
    font-weight: 600;
}
nav{
    width: 70px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #222222;
    z-index: 2;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
nav>div{
    width: 100%;
    margin:15px 0;
}
img{
    width: 50px;
}
.texto-foto{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.texto-foto>div{
    width: 80%;
    align-items: center;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto-foto.inverte{
    flex-direction: row-reverse;
}
.texto-foto>div>img{
    width: 80%;
    margin: 20px auto;
}

h2{
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    margin-top: 5rem;
}





