@font-face {
    src: url(fonts/Inter_Font.ttf);
    font-family: 'Inter';
    font-weight: normal;
}

button a{
    cursor:pointer;
}
.header-tabela>a>button{
    margin-left: 3rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.acoes-box{
    min-width: 250px;
}
.modal-detalhamento > h2{
    margin-top: 15px;
    margin-bottom: -10px;
    font-weight: 300;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

::-webkit-scrollbar {
    width: 5px;
    background: rgba(246, 130, 31, 1);
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background: rgba(246, 130, 31, 1);
}

body {
    /* align-items: center; */
    color: #222;
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    justify-content: center;
    padding: 30px;
    width: 100vw;
}

.title h1 {
    color: 	#CD7F32;
    font-weight: bold;
}

.title hr {
    border: 2px solid orange;
}

.title a {
    text-decoration: none;
}


/****** Styles *******/

.buscador {
    display: flex;
    justify-content: flex-start;
    width: 35rem;
}

.select-tipoBusca {
    width: 2rem;
}


/*Estilizacao modal para filtro*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal .modal-content #titleContainer {
    padding: 10px;
}

.modal .modal-content span {
    color: red;
    font-size: 15px;
    display: inline-block;
}

.modal-content {
    background-color: #fff;
    max-width: 50%;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    border-color: #414178;
    text-align: center;
}


#select-tipoBusca {
    height: 2.4rem;
    border-radius: 6px;
    width: 10rem;
    outline: none;
}

.buscador input {
    width: 15rem;
    padding: 10px;
    outline: none;
    height: 2.4rem;
    border-radius: 6px;
    border: solid 0.5px;
}

.header-tabela {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin-bottom: 1rem;
}

select{
    width: 70px !important;
}
#previousAndNextButtons{
    display: flex;
}
.botao {
    background-color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.08em;
    border-radius: 8px;
    width: fit-content;
    padding: 0px 10px;
}
.botaoVaga{
    line-height: 25px !important;
}
.botaoVaga:last-child{
    margin-right: 20px;
}

.laranja {
    border-color: #CD7F32;
    color: #CD7F32;
}

.laranja:hover {
    background-color:  #FFBF00;
    color: white;
}
#excluir-filtro>img{
    width:2rem;
}
#excluir-filtro{
    border: none !important;
}

thead th td {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 75rem;
    display: flex;
    flex-direction: column;
    font-family: "Inter";
}

table {
    font-weight: 400;
    min-width: 420px;
    max-width: 80rem;
}

table thead {
    display: none;
    /* font-weight: 500; */
    background-color:  #CD7F32;
    width: 75rem;
}

table tbody tr {
    border: 1px solid #dad6eb;
    border-radius: 3px 3px 0px 0px;
    display: block;
    padding: 30px;
    margin-bottom: 30px;
    background: #FAC898;
}

table tbody tr td {
    display: block;
    font-weight: 500;
    padding: 5px;
    position: relative;
    text-align: right;
}

table tbody tr td button {
    background: rgb(229, 115, 21);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(34, 34, 34, 0.2);
    bottom: -30px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    left: 50%;
    padding: 10px 0;
    margin-right: 5px;
    position: absolute;
    transform: translate(-50%, 50%);
    transition: background 0.12s ease-out;
    width: 50%;
}

table tbody tr td:before {
    color: #8a8a87;
    content: attr(data-label);
    font-weight: 400;
    left: 5px;
    position: absolute;
}
.icones-lista{
    width: 27px;
}

/*                Detalhamento               */
#detalhamento-fade{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(34, 34, 34, 0.51);
    background-size: cover;
    z-index: 2;
    display: none;
    overflow: auto;
}
#modal-detalhamento{
    top: 200px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    z-index: 3;
    display: none;


    font-family: 'Roboto', sans-serif;
}

/*Modal do detalhamento*/
.modal-detalhamento{
    width: 100%;
    display: flex;
    background-color: #eeeeee;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    word-wrap: break-word;
}
#header-detalhamento{
    display: flex;
    justify-content: space-between;
}
#btn-voltar-detalhamento{
    font-weight: 900;
    font-size: 1.5rem;
    color: #C96D09;
    cursor: pointer;
}
.caixa-detalhamento{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    padding: 20px 20px;
    background-color: #cccaca;
    color: #3d3c3c;
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 15px #cecece;
    border: 2px solid #C96D09;
}
.caixa-detalhamento>h3{
    font-weight: 500;
}
.caixa-detalhamento>p{
    font-size: 1.2rem;
}
.item-detalhamento{
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}
.item-detalhamento:only-child{
    word-wrap: break-word;
    width: 100%;
}
.sem-restricao-detalhamento>h3{
    font-weight: 600;
    color: #18570b;
    font-size: 1.4rem;
}
.com-restricao-detalhamento>h3{
    font-weight: 600;
    color: #6b0618;
    font-size: 1.4rem;
}
@media (max-width: 1280px){
    #modal-detalhamento{
        width: 80%;
    }
}
@media (max-width: 600px){
    .caixa-detalhamento{
        grid-template-columns: repeat(1, 1fr);
    }
}




@media all and (min-width: 300px) {
    table {
        border: 1px solid #eee;
        border-collapse: collapse;
        max-width: 75rem;
        text-align: left;
        width: 100%;
        overflow: scroll;
    }
    table thead {
        display: table-header-group;
    }
    table thead th {
        padding: 10px;
    }
    table tbody {
        font-size: 0.875em;
    }
    table tbody tr {
        border: none;
        display: table-row;
    }
    table tbody tr:nth-child(odd) {
        background: none;
    }
    table tbody tr td {
        display: table-cell;
        font-weight: 400;
        padding: 10px;
        text-align: left;
    }
    table tbody tr td button {
        display: inline-block;
        padding: 10px 15px;
        position: initial;
        transform: translate(0);
        width: auto;
    }
    table tbody tr td:before {
        display: none;
    }
    table tbody tr td:last-child {
        text-align: right;
    }
}

@media(max-width:950px) {
    main {
        width: 80%;
    }
    table{
        margin-right: 2rem;
    }
}
@media(max-width:600px){
    #footer{
        flex-direction: column-reverse!important;
        width: 100%;
    }
    #pagination{
        flex-direction: column-reverse!important;
        justify-content: center!important;
    }
    #previousAndNextButtons{
        display: flex;
        justify-content: center;
    }
    .header-tabela{
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    .buscador{
        margin-bottom: 10px;
    }
    .icones-lista{
        width: 18px;
    }


}
#Btn-remove-edit {
    display: flex;
    justify-content: space-around;
    min-width: 240px;
}

.top-layer {
    margin-bottom: 1rem;
    color: #CD7F32;
    font-weight: bold;
}

/*img {*/
/*    height: 4em;*/
/*    margin-bottom: 30px;*/
/*}*/

tbody {
    margin-bottom: 10rem;
}

#footer {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-between;
    width: 100%;
}

#pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#pagination div a {
    text-decoration: none;
}

#pageCounter{
    line-height: 35px;
    text-align: center;
    padding: 2px 10px 2px 10px;
    color: #CD7F32;
    font-weight: bold;
}

.tap {
    display: flex;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 60px 30px 50px;
}

.botao-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 30px;
}