@font-face{
	src: url(fonts/Inter_Font.ttf);
	font-family: 'Inter';
	font-weight: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* align-items: center; */
    color: #222;
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    justify-content: center;
    padding: 30px;
    width: 100vw;
}
/****** Styles *******/
.header-tabela{
    width: 100%;
    background-color: rgba(222, 222, 222, 1);
    padding: 20px;
    
}
.buscador{
    display: flex;
    justify-content: space-between;
    width: 20rem;
}
.buscador input{
    height: 2rem;
    border-radius: 6px;
    width: 15rem;
    padding: 10px;
    outline: none;
}
.buscador button{
    
    color: aliceblue;
    background-color: rgb(65, 65, 120);
    box-shadow: 3px 3px 1.5px rgba(65, 65, 120, 0.25);
    outline: none;
    border: none ;
    border-radius: 6px;
    cursor: pointer;
    width: 4rem;
    height: 2rem;

}
.buscador input:focus{
    border: solid 1px orange;
}
.AdicionarEmpresa{
    border-radius: 50%;
    background-color: lightgreen;
    color: white;
    height: 2rem;
    width: 2rem;
    font-size: x-large;
    border: none;
    cursor: pointer;
}
.header-tabela{
    display: flex;
    justify-content: space-between;
}
thead th td {
    display: flex;
    justify-content: center;
    align-items: center;
}



main{
    width: 75rem;
    display: flex;
    flex-direction: column;
    font-family: "Inter";
}

table {
    font-weight: 400;
    min-width: 420px;
    max-width: 80rem;
}
table thead {
    display: none;
    /* font-weight: 500; */
    background-color: #ffddbd;
    width: 75rem;
}
table tbody tr {
    border: 1px solid #dad6eb;
    border-radius: 5px;
    display: block;
    padding: 30px;
    margin-bottom: 30px;
    

}
table tbody tr td {
    display: block;
    font-weight: 500;
    padding: 5px;
    position: relative;
    text-align: right;
}
table tbody tr td button {
    background: rgb(229, 115, 21);
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(34, 34, 34, 0.2);
    bottom: -30px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    left: 50%;
    padding: 10px 0;
    position: absolute;
    transform: translate(-50%, 50%);
    transition: background 0.12s ease-out;
    width: 50%;
}
table tbody tr td button:hover, table tbody tr td button:focus {
    background: #a795fe;
    cursor: pointer;
}

tfoot {
	background-color: #ffddbd;
    height: 2rem;
}

#previousAndNextButtons a{
	text-decoration: none;
	font-size: large;
	font-weight: bold;
	color: black;	
	background-color: orange;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	margin-left: 10px;
	padding: 3px;
}

table tbody tr td:before {
    color: #8a8a87;
    content: attr(data-label);
    font-weight: 400;
    left: 5px;
    position: absolute;
}
@media all and (min-width: 768px) {
    table {
        border: 1px solid #eee;
        border-collapse: collapse;
        max-width: 75rem;
        text-align: left;
        width: 100%;
   }
    table thead {
        display: table-header-group;
   }
    table thead th {
        padding: 10px;
   }
    table tbody {
        font-size: 0.875em;
   }
    table tbody tr {
        border: none;
        display: table-row;
   }
    table tbody tr:nth-child(odd) {
        background: #eee;
   }
    table tbody tr td {
        display: table-cell;
        font-weight: 400;
        padding: 10px;
        text-align: left;
   }
    table tbody tr td button {
        display: inline-block;
        padding: 10px 15px;
        position: initial;
        transform: translate(0);
        width: auto;
   }
    table tbody tr td:before {
        display: none;
   }
    table tbody tr td:last-child {
        text-align: right;
   }

   
}

#Btn-remove-edit{
    display: flex;
    justify-content: space-between;
}

.top-layer{
    
    border-bottom: 4px solid orange;
    margin-bottom: 1rem;
}

img{
    height: 4em;
    margin-bottom: 30px;
}