#barra-lateral{
    width: 70px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #222222;
    z-index: 2;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#barra-lateral>div{
    width: 100%;
    margin:15px 0;
}

.dicas{
    padding:0 10px;
    color: #fff;
    z-index:3;
    width: 300px;
    border-radius:5px;
    position:relative;
    display:none;
    background-color: #222222;
    margin-left: 1rem;
}

/*img {*/
/*    object-fit: cover;*/
/*}*/
