@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Anton', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(222, 222, 222, 1);
}

#titulox {
    font-family: 'Martian Mono', monospace;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    border-radius: 5px;
    margin-top: 2%;
}

section {
    width: 60rem;
    height: 600px;
    padding-bottom: 10px;
    background: #FFFFFF;
    box-shadow: 9px 9px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

nav {
    width: 20rem;
    height: 45rem;
    padding: 5px;
    background-color: rgba(222, 222, 222, 1);
    border-radius: 5px;
    margin-top: 0;
}

ul li {
    font-size: x-large;
    cursor: pointer;
    margin-top: 40px;
    list-style: none;
}

img {
    height: 20%;
    width: 80%;
    background-size: cover;
}

#fieldset-habilidades {
    text-transform: uppercase;
    border: 1px #000000 solid;
    border-radius: 6px;
    padding: 10px;
    width: 18rem;
}

#habilidade,
#listaHabilidade {
    width: 13rem;
    height: 2rem;
}

.container-select-habilidade {
    margin-top: 10px;
}

#titulo {
    height: 9rem;
    border-bottom: black 8px;
}

#titulo h1 {
    letter-spacing: 2px;
    padding: 1.2rem;
    border-bottom: solid 4px rgba(0, 0, 0, 0.15);
    font-size: 2em;
}

#labelError {
    color: red;
    font-family: 'Sarabun', sans-serif;
}

.fieldset-dados-bancarios>legend>h1 {
    font-size: 1.0em;
    font-weight: lighter;
}

#cnh-inputbox>label {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.8px;
}

#cnh-inputbox>div>input {
    width: 1.2em;
    height: 1.2em;
}

#restricao {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.8px;
}

#restricao>input {
    width: 0.9em;
    height: 0.9em;
}

.fieldset-dados-bancarios {
    padding: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1.2rem;
    column-gap: 1rem;
    text-transform: uppercase;
    width: 15rem;
    font-family: 'Martian Mono', monospace;
}

fieldset div {
    font-family: 'Anton', sans-serif;
}

.input-normal-dados-bancarios>input {
    width: 8rem;
    height: 2.20rem;
    border-radius: 6px;
}

.input-normal-dados-bancarios>label {
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.8px;
}

#div-sinalizacao {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 13px;
}

#sinal {
    color: red;
}


/* #botao-cadastrar {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    width: 170%;
} */

#botao-cadastrar button {
    background-color: rgb(255, 119, 0);
    color: white;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5)); */
    width: auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 45px;
    letter-spacing: 0.08em;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    text-decoration: none;
    text-align: center;
    margin-left: 10px;
}

#botao-cadastrar button:hover {
    background-color: rgb(152, 71, 1);
    /* Cor de fundo quando passa o mouse */
}


/* Estilo quando o botão é pressionado */

#botao-cadastrar button:active {
    background-color: rgb(103, 48, 0);
    /* Cor de fundo quando pressionado */
}

select:hover {
    cursor: pointer;
}

input[type=date],
input[type=text],
textarea,
select {
    font-size: 1.0rem;
    padding-left: 5px;
    outline-color: rgba(246, 130, 31, 1);
    font-family: Arial;
}

textarea {
    border-radius: 5px 5px 5px 5px;
    width: 18rem;
    height: 6.5rem;
    padding: 10px;
    max-height: 6.5rem;
    border-radius: 4px;
}

#grupo-input-pessoais,
#grupo-input-endereco,
#grupo-input-instrucao,
#grupo-input-situacional {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 2em;
    width: 90%;
    margin: 0 auto;
}

.input-normal>input,
.input-normal>select {
    width: 18rem;
    height: 2.5rem;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

::-webkit-scrollbar {
    width: 5px;
    background: rgba(246, 130, 31, 1);
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background: rgba(246, 130, 31, 1);
}

select[multiple=multiple] {
    max-width: 15.8em;
    height: 2.5rem;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    /*scrollbar-width: 1px;*/
}

.input-normal>label {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.8px;
    display: block;
}

#prioridade {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.8px;
}

#prioridades {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

input[type="checkbox"],
input[type="radio"] {
    margin: 0 0.5em;
}

.botoesHalibidade {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 6rem;
    padding: 20px;
    background-color: rgb(161, 161, 161);
}

.container-habilidades {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: solid 2px; */
    position: relative;
    left: 9.5rem;
    width: 30rem;
}

.botoesHalibidade button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: rgb(144, 132, 132);
    color: #FFFFFF;
    font-size: xx-large;
}

.sectionInputs {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    padding: 4px;
    display: grid;
    grid-template-columns: auto auto;
}

.container-habilidades-input {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2rem;
    padding: 10px;
}

.addBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fffaf0
}

.inputHabilidade {
    height: 2rem;
    border-radius: 6px;
    outline: none;
    border: none;
    background-color: rgb(232, 232, 232);
}

#grupo-input-instrucao {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    column-gap: 3rem;
    row-gap: 2em;
    width: 90%;
    margin: 0 auto;
}

.box-input input {
    height: 2.50rem;
    width: 16rem;
    border-radius: 6px;
    padding: 15px;
}

.inputHabilidades {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.buttonAdicionarHabilidade {
    border-radius: 5px;
    color: white;
    font-size: xx-large;
    background-color: rgb(255, 119, 0);
    cursor: pointer;
    padding: 2px 10px;
}

.cardHabilidade {
    height: 3rem;
    width: 17rem;
    border: rgba(54, 53, 53, 0.498) 2px solid;
    padding: 20px;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    align-items: center;
}

.buttonRemoverHabilidade {
    width: 2.5rem;
    height: 3rem;
    /*height: 2.5rem;*/
    border-radius: 50%;
    color: white;
    font-size: xx-large;
    background-color: rgb(222, 88, 88);
    border: none;
    cursor: pointer;
    margin: auto 0;
}

.divContainer {
    width: 17rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 10px;
}

.listaHablidade-box select {
    width: 15rem;
    height: 2.5em;
    border-radius: 6px;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 6px;
    border: 2px solid rgba(246, 130, 31, 1);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

.modalHabilidadeLabel {
    font-family: 'Staatliches', cursive;
    font-size: x-large;
}

#dialogClose {
    border-radius: 100%;
    background-color: rgba(210, 204, 204, 0.701);
    height: 2rem;
    width: 2rem;
    border: none;
    outline: none;
    font-size: x-large;
    color: rgba(23, 20, 20, 0.916);
    margin-bottom: 20px;
}

.addInput {
    display: flex;
    flex-direction: column;
}

.labelAddHabilidade {
    font-family: 'Jaldi', sans-serif;
    font-weight: 800;
    font-size: 18px;
}

.inputAddHabilidade {
    display: flex;
    flex-direction: row;
}

#dialogValue {
    height: 2.5rem;
    width: 15rem;
    border-radius: 6px 0px 0px 6px;
    font-size: 15px;
}

#dialogSelect {
    width: 15rem;
    height: 3.125rem;
    border-radius: 6px 0px 0px 6px;
    font-size: 15px;
}

.buttonRemoverHabilidade {
    width: 2rem;
    font-size: 10px;
    border-radius: 0px 6px 6px 0px;
    border: 1px solid grey;
}

.inputRemoveHabilidade {
    display: flex;
    flex-direction: row;
    height: 3.3rem;
}

.headModal {
    height: 2.5rem;
    color: #000000;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px rgba(0, 0, 0, 0.541);
    margin-bottom: 40px;
}
/*            Modal             */

.fade-modal{
    background-color: rgba(51, 51, 51, 0.61);
    background-size: cover;
    z-index: 2;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
}
.modal-confirm{
    max-width: 600px;
    position: fixed;
    width: 40%;
    display: none;
    background-color: #eeeeee;
    border-radius: 5px;
    top: 100px;
    margin: 20px auto;
    z-index: 5;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}
.modal-confirm>h2{
    color: rgba(246, 130, 31, 1);
    text-align: center;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.modal-confirm>h3{
    color: #505050;
    text-align: center;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}
.botao-modal-confirm{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
}
.botao-modal-confirm>#cancelar{
    margin-right: 25px;
    padding: 8px;
    color:white;
    background-color: rgba(246, 130, 31, 1);
    text-decoration: none;
    font-weight: 300;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    cursor:pointer;
}
.botao-modal-confirm>a{
    padding: 8px;
    color:white;
    background-color: rgba(246, 130, 31, 1);
    text-decoration: none;
    font-weight: 300;
    border-radius: 5px;
}

.tap {
    display: flex;
    width: 100vh;
    display: flex;
    justify-content: left;
    /*align-items: left;*/
    padding: 10px 60px 30px 50px;
    margin-top: 30px;
}
button a{
    cursor:pointer;
}
.botao-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 30px;
    cursor: pointer;
}

#cpfInvalido{
    display:none;
    color: #6b0618;
    font-weight: 700;
}


@media (max-width: 1336px){
    section{
        width: 70rem;
        height: 700px;
        padding:20px ;
    }
}
@media (max-width: 1280px){
    .input-normal>input,
    .input-normal>select,
    textarea{
        width: 12rem;
    }
}
@media (max-width: 1050px){
    main{
        display: flex;
        flex-direction: column;
    }
    section{
        width: 98%;
    }
    #menu-lateral{
        display: flex;
        flex-direction: column;
        width: 98%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    img{
        width: 180px;
        height: auto;
    }
    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    li{
        margin: 0 5px;
        font-size: 1rem;
    }
    .tap{
        padding: 0;
        display: flex;
        justify-content: center!important;
    }
    .modal-confirm{
        width: 70%!important;
        margin: 0!important;
        top: 100px;
    }

}
@media (max-width: 700px){
    #div-sinalizacao{
        font-size: 13px!important;
    }
    .input-normal>label{
        font-size: 13px!important;
    }
    #grupo-input-pessoais,
    #grupo-input-endereco,
    #grupo-input-instrucao,
    #grupo-input-situacional{
        grid-template-columns: 1fr;
        grid-column: 1;
        justify-items: center;
    }
    section{
        height: auto;
    }
}
@media (max-width: 500px) {
    #titulo{
        margin-bottom: 30px;
    }
    ul{
        flex-direction: column;
    }
    .fieldset-dados-bancarios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #titulox{
        font-size:1.3rem!important;
    }
    #artigo-input{
        display: flex;
        flex-direction: column;
    }
    #div-numeroConta,
    #div-agencia,
    #div-banco,
    #div-operacao{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
