    @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@800&display=swap');
     ::-webkit-scrollbar-track {
        background-color: #F4F4F4;
    }
    button a{
        cursor:pointer;
    }
     ::-webkit-scrollbar {
        width: 5px;
        background: rgba(246, 130, 31, 1);
    }
    
     ::-webkit-scrollbar-thumb {
        width: 5px;
        background: rgba(246, 130, 31, 1);
    }
    
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    input[type="number"] {
        -moz-appearance: textfield;
    }
    
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    body{
        background-color: #fff;
        font-family: 'Roboto', sans-serif;
    }
    header{
        margin-bottom: 30px;
        width: 100%;
    }

    .title h1 {
        color: 	#C96D09;
        font-weight: bold;
        font-size: 3rem;
    }
    h3{
        font-size: 2rem;
        color:#C96D09;
        font-weight: 500;
        margin-top: 1rem;
    }
    a{
        text-decoration: none;
    }
    hr {
        border: 2px solid orange;
        margin-top: 1rem;
    }
    main {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 20px auto;
    }
    
    section {
        width: 100%;
        background: #FFFFFF;
        font-family: 'Roboto', sans-serif;
    }
    
    textarea {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        resize: vertical;
        border-radius: 4px;
        border: 2px solid #C96D09;
    }
    
    form {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .container-input-vagas {
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 3rem;
        row-gap: 2em;
        width: 80%;
        margin: 0 auto;
    }
    
    .input-normal {
        display: flex;
        flex-direction: column;
    }
    

    
    .input-normal>input,
    .input-normal>select {
        width: 100%;
        height: 2.5rem;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #C96D09;
        background-color: #fff;
        color: #222222;
        caret-color: #C96D09;
    }


    .input-normal>input{
        margin-bottom: 1.1rem;
        color: #C96D09;
        font-weight: 600;
    }
    .input-normal>label {
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 0.8px;
        display: block;
        font-weight: 600;
    }
    
    .container-botao {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    .tap {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    #botao-enviar {
        background-color: rgba(246, 130, 31, 1);
        color:#eee;
        padding: 8px;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        text-decoration: none;
        border-radius: 5px;
        border: none;
        /*background-color: rgb(255, 119, 0);*/
        /*color: white;*/
        /*!* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5)); *!*/
        /*text-transform: uppercase;*/
        /*width: 9rem;*/
        /*height: 3rem;*/
        /*font-family: 'Arial';*/
        /*font-style: normal;*/
        /*font-size: 1.2rem;*/
        /*line-height: 45px;*/
        /*letter-spacing: 0.08em;*/
        /*border: none;*/
        /*border-radius: 5px;*/
        /*padding: 10px 20px;*/
        /*text-decoration: none;*/
        /*text-align: center;*/
        /*margin-left: 10px;*/
    }
    

    
    #botao-voltar {
        background-color: rgba(246, 130, 31, 1);
        color:#eee;
        padding: 8px;
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        text-decoration: none;
        border-radius: 5px;
    }


    /*            Modal             */

    .fade-modal{
        background-color: rgba(51, 51, 51, 0.61);
        background-size: cover;
        z-index: 2;
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        left:0;
        top:0;
    }
    .modal-confirm{
        max-width: 600px;
        position: fixed;
        width: 40%;
        display: none;
        background-color: #eeeeee;
        border-radius: 5px;
        margin: 20% auto;
        z-index: 5;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 25px;
    }
    .modal-confirm>h2{
        color: rgba(246, 130, 31, 1);
        text-align: center;
        font-weight: 600;
        font-family: 'Roboto', sans-serif;
    }
    .modal-confirm>h3{
        color: #505050;
        text-align: center;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        margin-top: 10px;
    }
    .botao-modal-confirm{
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
        font-family: 'Roboto', sans-serif;
    }
    .botao-modal-confirm>#cancelar{
        margin-right: 25px;
        padding: 8px;
        color:white;
        background-color: rgba(246, 130, 31, 1);
        text-decoration: none;
        font-weight: 300;
        border-radius: 5px;
        border: none;
        font-size: 15px;
    }
    .botao-modal-confirm>a{
        padding: 8px;
        color:white;
        background-color: rgba(246, 130, 31, 1);
        text-decoration: none;
        font-weight: 300;
        border-radius: 5px;
    }



    @media (max-width: 850px) {
        .container-input-vagas {

            display: flex;
            flex-direction: column;

        }
        .input-normal{
            margin-top: 1rem;
        }
        h1{
            font-size: 2rem!important;
        }
        h3{
            font-size: 1.2rem;
        }
        .modal-confirm{
            width: 70%!important;
            margin: 0!important;
            top: 100px;
        }
    }