<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/vagas.css}" />
<link rel="icon" th:href="@{/imgs/logoRD.png}">
	<script defer="defer" th:src="@{/js/alertReturnModal.js}"></script>
<title>Alocar Vaga</title>
</head>
<body>
	<div class="fade-modal"></div>
	<main>
		<!-- Modal de confirmação + fade-->

		<div class="modal-confirm">
			<h2>Tem certeza que deseja voltar?</h2>
			<h3>Todo o preenchimento será perdido.</h3>
			<div class="botao-modal-confirm">
				<button id="cancelar">Não, preencher formulário</button>
				<a th:href="@{/}">Sim, voltar</a>
			</div>
		</div>

		<nav>
			<img src="" alt="">
		</nav>

		<section>
			<form action="#" th:action="@{/armazenarVagaPreenchida}" th:object="${vagaPreenchida}" method="post">
				<div id="titulo">
					<h1>Preencher Vaga</h1>
				</div>

				<div class="container-input-vagas">
					 <div class="input-normal" id="nomeVaga">
						<label for="vagaSelect">Selecione a vaga</label> 
						<select th:field="*{vaga}" name="vagaSelect" id="vagaSelect">
							<option th:each="vaga : ${listaVagas}" th:value="${vaga.getId()}" th:text="${vaga.getTipo() + ' | H: ' + vaga.getQuantidadeVagasMasculinas()
							+ ' F: ' + vaga.getQuantidadeVagasFemininas() + ' | ' + vaga.empresa.nome}"></option>
						</select>
						<label id="labelError" th:if="${#fields.hasErrors('vaga')}" th:errors="*{vaga}">Erro na vaga</label>
					</div> 
					<div class="input-normal" id="nomeApenado">
						<label for="apenadoSelect">Selecione o apenado</label> 
						<select th:field="*{apenado}" name="apenadoSelect" id="apenadoSelect">
							<option th:each="apenado : ${listaApenados}" th:value="${apenado.getCpf()}" th:text="${apenado.getNome()}"></option>
						</select>
						<label id="labelError" th:if="${#fields.hasErrors('apenado')}" th:errors="*{apenado}">Erro no apenado</label>
					</div>
					
					<div class="input-normal">
						<label for="tipo">Data de Inicio</label> <input type="date"
							th:field="*{dataInicio}" id="dataNascimento">
					</div>
					
					<div class="input-normal">
						<label for="tipo">Data de Término</label> <input type="date"
							th:field="*{dataFim}" id="dataNascimento">
					</div>
					
					<div class="tap">
						<div class="container-botao">
							<!--<input type="button" id="botao-voltar" value="Voltar" modificado 27/04/2023/>-->
							<a id="botao-voltar" >Voltar</a>
							<button id="botao-enviar">Enviar</button>
						</div>
					</div>
				</div>
			</form>
		</section>
	</main>
</body>
</html>
