<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=10, minimum-scale=1.0">
<link rel="stylesheet" th:href="@{/css/vagas.css}" />
<link rel="icon" th:href="@{/imgs/logoRD.png}">
	<script defer="defer" th:src="@{/js/alertReturnModal.js}"></script>
<title>Alocar Vaga</title>
</head>
<body>
	<div class="fade-modal"></div>
	<main>
		<!-- Modal de confirmação + fade-->

		<div class="modal-confirm">
			<h2>Tem certeza que deseja voltar?</h2>
			<h3>Todo o preenchimento será perdido.</h3>
			<div class="botao-modal-confirm">
				<button id="cancelar">Não, preencher formulário</button>
				<a th:href="@{/}">Sim, voltar</a>
			</div>
		</div>

		<header>
			<div class="title">
				<a th:href="@{/}">
					<h1>RessociaDigi</h1>
					<hr>
				</a>
			</div>
			<div class="top-layer">
				<h3>Preencher Vaga</h3>
			</div>
		</header>


		<section>
			<form action="#" th:action="@{/armazenarVagaPreenchida}" method="post" th:object="${vagaPreenchida}">

				<div class="container-input-vagas">

					<input type="hidden" th:field="*{id}">

					 <div class="input-normal" id="nomeVaga">
						<label for="vagaSelect">Selecione a vaga</label> 
						<select th:field="*{vaga.id}" name="vagaSelect" id="vagaSelect">
							<option th:each="vaga : ${listaVagas}" th:value="${vaga.getId()}" th:text="${vaga.getTipo() + ' | H: ' + vaga.getQuantidadeVagasMasculinas()
							+ ' F: ' + vaga.getQuantidadeVagasFemininas() + ' | ' + vaga.empresa.nome}"></option>
						</select>
						 <label id="labelError" th:if="${#fields.hasErrors('vaga.id')}" th:errors="*{vaga.id}">Erro na vaga</label>
					</div>
					
					<div class="input-normal" id="nomeApenado">
						<label for="apenadoSelect">Selecione o apenado</label> 
						<select name="apenadoSelect" id="apenadoSelect" th:field="*{apenado.cpf}">
							<option th:each="apenado : ${listaApenados}" th:value="${apenado.getCpf()}" th:text="${apenado.getNome()}"></option>
						</select>
<!--						<label id="labelError" th:if="${#fields.hasErrors('apenado.cpf')}" th:errors="*{apenado.cpf}">Erro no apenado</label>-->
						<span th:if="${#fields.hasErrors('apenado.cpf')}" th:errors="*{apenado.cpf}" class="validation" />
						<span th:if="${validacaoGenero}" class="validation" th:text="${validacaoGenero}"/>
					</div>

					<div class="input-normal">
						<label for="dataInicio">Data de Inicio</label>
						<input th:field="*{dataInicio}" type="date" name="dataInicio" id="dataInicio">
						<span th:if="${#fields.hasErrors('dataInicio')}" th:errors="*{dataInicio}" class="validation" />
					</div>
					
					<div class="input-normal">
						<label for="dataFim">Data de Término</label>
						<input th:field="*{dataFim}" type="date" name="dataFim" id="dataFim">
						<span th:if="${#fields.hasErrors('dataFim')}" th:errors="*{dataFim}" class="validation"/>
					</div>
					
					<div class="tap">
						<div class="container-botao">
							<!--<input type="button" id="botao-voltar" value="Voltar" modificado 27/04/2023/>-->
							<a id="botao-voltar" >Voltar</a>
							<button id="botao-enviar">Enviar</button>
						</div>
					</div>
				</div>
			</form>
		</section>
	</main>
</body>

</html>
