<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles\style.css">
    <script>
        function exibirTelaInicial(){
            let endereco = document.getElementById("grupo-input-endereco")
            let instrucao = document.getElementById("grupo-input-instrucao")
            let situacional = document.getElementById("grupo-input-sitacional")
            let pessoais = document.getElementById("grupo-input-pessoais")

            let titulo = document.getElementById("titulox").innerHTML = "Dados Pessoais"

            let navMenu = document.getElementsByTagName("li");
            navMenu[1].style.borderLeft = "none"
            navMenu[1].style.color = "rgba(26, 24, 24, 0.4)"
            navMenu[1].style.padding = "0"

            navMenu[2].style.borderLeft = "none"
            navMenu[2].style.color = "rgba(26, 24, 24, 0.4)"
            navMenu[2].style.padding = "0"

            navMenu[3].style.borderLeft = "none"
            navMenu[3].style.color = "rgba(26, 24, 24, 0.4)"
            navMenu[3].style.padding = "0"

            navMenu[0].style.borderLeft = "solid 3px rgba(246, 130, 31, 1)";
            navMenu[0].style.paddingLeft = "8px"
            navMenu[0].style.color = "black"

            endereco.style.display = "none";
            instrucao.style.display = "none";
            situacional.style.display = "none";

            pessoais.style.display = "";
        }

        function exibirTelaEndereco(){
            let endereco = document.getElementById("grupo-input-endereco")
            let instrucao = document.getElementById("grupo-input-instrucao")
            let situacional = document.getElementById("grupo-input-sitacional")
            let pessoais = document.getElementById("grupo-input-pessoais")

            let titulo = document.getElementById("titulox")
            titulo.innerText = "Endereço";

            let navMenu = document.getElementsByTagName("li");
            navMenu[0].style.borderLeft = "none"
            navMenu[0].style.color = "rgba(26, 24, 24, 0.4)"
            navMenu[0].style.padding = "0"

            navMenu[2].style.borderLeft = "none"
            navMenu[2].style.color = "rgba(26, 24, 24, 0.4)"
            navMenu[2].style.padding = "0"

            navMenu[3].style.borderLeft = "none"
            navMenu[3].style.color = "rgba(26, 24, 24, 0.4)"
            navMenu[3].style.padding = "0"

            navMenu[1].style.borderLeft = "solid 3px rgba(246, 130, 31, 1)";
            navMenu[1].style.paddingLeft = "8px"
            navMenu[1].style.color = "black"

            endereco.style.display = "";
            instrucao.style.display = "none";
            situacional.style.display = "none";

            pessoais.style.display = "none"
        }

        function exibirTelaInstrucao(){
            let endereco = document.getElementById("grupo-input-endereco")
            let instrucao = document.getElementById("grupo-input-instrucao")
            let situacional = document.getElementById("grupo-input-sitacional")
            let pessoais = document.getElementById("grupo-input-pessoais")

            let titulo = document.getElementById("titulox").innerText = "Instrução"

            let navMenu = document.getElementsByTagName("li");
            navMenu[1].style.borderLeft = "none"
            navMenu[1].style.color = "rgba(26, 24, 24, 0.4)"
            navMenu[1].style.padding = "0"

            navMenu[0].style.borderLeft = "none"
            navMenu[0].style.color = "rgba(26, 24, 24, 0.4)"
            navMenu[0].style.padding = "0"

            navMenu[3].style.borderLeft = "none"
            navMenu[3].style.color = "rgba(26, 24, 24, 0.4)"
            navMenu[3].style.padding = "0"

            navMenu[2].style.borderLeft = "solid 3px rgba(246, 130, 31, 1)";
            navMenu[2].style.paddingLeft = "8px"
            navMenu[2].style.color = "black"

            endereco.style.display = "none";
            instrucao.style.display = "";
            situacional.style.display = "none";

            pessoais.style.display = "none"
        }

        function exibirTelaSituacional(){
            let endereco = document.getElementById("grupo-input-endereco")
            let instrucao = document.getElementById("grupo-input-instrucao")
            let situacional = document.getElementById("grupo-input-sitacional")
            let pessoais = document.getElementById("grupo-input-pessoais")

            let titulo = document.getElementById("titulox").innerText = "Situacional"


            let navMenu = document.getElementsByTagName("li");
            navMenu[0].style.borderLeft = "none"
            navMenu[0].style.color = "rgba(26, 24, 24, 0.4)"
            navMenu[0].style.padding = "0"

            navMenu[1].style.borderLeft = "none"
            navMenu[1].style.color = "rgba(26, 24, 24, 0.4)"
            navMenu[1].style.padding = "0"

            navMenu[2].style.borderLeft = "none"
            navMenu[2].style.color = "rgba(26, 24, 24, 0.4)"
            navMenu[2].style.padding = "0"

            navMenu[3].style.borderLeft = "solid 3px rgba(246, 130, 31, 1)";
            navMenu[3].style.paddingLeft = "8px"
            navMenu[3].style.color = "black"

            endereco.style.display = "none";
            instrucao.style.display = "none";
            situacional.style.display = "";

            pessoais.style.display = "none"
        }


    </script>
    <title>Layout padrão</title>
</head>
<body onload="exibirTelaInicial()">
    <main>
        <nav id="menu-lateral">
            <img src="logoRD.png" alt="">
            <ul>
                <li onclick="exibirTelaInicial()" id="DadosPessoais" class="topico-menu">Dados pessoais</li>
                <li onclick="exibirTelaEndereco()" id="endereco" class="topico-menu">Endereço</li>
                <li onclick="exibirTelaInstrucao()" id="instrucao" class="topico-menu">Instrução</li>
                <li onclick="exibirTelaSituacional()" id="situacional" class="topico-menu">Situacional</li>    
            </ul>
        </nav>
            <section>

             <form action="">
                <div id="titulo">
                    <h1 id="titulox">TÍTULO</h1>
                </div>

                <div id="container-inputs">
                    <div id="grupo-input-instrucao">
                        <!--INSIRA O INPUTS ABAIXO-->

                            <!--cada input e label/span devem está dentro de uma div-->
                            <div id="instrucao">
                                <label for="escolaridade">Escolaridade</label>
                                <select name="" id="escolaridade">
                                    <option value="valor0">Nenhum</option>
                                    <option value="valor1">Ensino fundamental incompleto</option>
                                    <option value="valor2">Ensino fundamental completo</option>
                                    <option value="valor3">Ensino medio incompleto</option>
                                    <option value="valor4">Ensino medio completo</option>
                                    <option value="valor5">Ensino superior incompleto</option>
                                    <option value="valor6">Ensino superior completo</option>
                                </select>

                            </div>

                            <div id="cursos" class="input-comum">
                                <input type="text" required = "required">
                                <label for="cursos">cursos</label>
                            </div>

                            <div id="perfil">
                                <label for="area-perfil">Perfil</label>
                                <textarea name="" id="area-perfil" cols="30" rows="10"></textarea>
                            </div>

                            <div id="restricao">
                                <div id="radio-restricao">
                                    <p>Existe alguma restrição?:</p>
                                    <div>
                                        <input type="radio" id="nao" checked>
                                        <label for="nao">Não</label>
                                    </div>
                                  
                                    <div>
                                        <input type="radio" id="sim" name="drone" value="dewey">
                                        <label for="sim">Sim</label>
                                    </div>
                                </div>
                                <textarea name="" id="area-restricao" cols="10" rows="6"></textarea>
                            </div>

                            
                    </div>
                    <!------------------------------------------>
                    <div id="grupo-input-pessoais" >
                        <div id="nome" class="input-normal">
                            <input type="text"  id="nome" required = "required">
                            <label for="nome">Nome completo</label>
                        </div>

                        <div id="Cpf-inputbox" class="input-normal">
                            <input type="number"  id="cpf" required ="required">
                            <label for="cpf">CPF</label>
                        </div>

                        <div id="telefone-input" class="input-normal">
                            <input type="tel" id="telefone" required = "required">
                            <label for="telefone">Telefone</label>
                        </div>

                        <div id="telefone2-inpubox" class="input-normal">
                            <input type="tel" id="telefone2" required = "required">
                            <label for="telefone2">2° Telefone</label>
                        </div>

                        <div id="telefone3-inpubox" class="input-normal">
                            <input type="tel" id="telefone3" required = "required">
                            <label for="telefone3"> 3° Telefone</label>
                        </div>

                        <div id="email-inputbox" class="input-normal">
                            <input type="email" id="email" required = "required">
                            <label for="email">E-mail</label>
                        </div>

                        <div id="dataNascimento-inputbox">
                            <label for="dataNascimeto">Data de nascimento</label>
                            <input type="date" id="dataNascimeto">
                        </div>

                        <div id="cnh-inputbox">
                            <label for="cnh" id="cnhTipo">CHN tipo:</label>
                            <div id="cnh">
                                <label for="categoriaA">A</label>
                                <input type="checkbox" id="categoriaA">

                                <label for="categoriaB">B</label>
                                <input type="checkbox" id="categoriaB">

                                <label for="categoriaC">C</label>
                                <input type="checkbox" id="categoriaC">

                                <label for="categoriaD">D</label>
                                <input type="checkbox" id="categoriaD">

                                <label for="categoriaE">E</label>
                                <input type="checkbox" id="categoriaE">
                            </div>
                        </div>

                        <div id="seco-biologico-inputbox" class="input-normal">
                            <span>Sexo biológico</span>
                            <input  list="opcoesSexo" type="text" id="" placeholder="Selecione o biológico">
                            <datalist id="opcoesSexo">
                                <option value="Masculino">
                                <option value="Feminino">
                            </datalist>
                        </div>

                        <div id="orientacaoSexual-inputbox" class="input-normal">
                            <span>Orientacão sexual</span>
                            <input  list="listaOrientacao" type="text" id="" placeholder="Selecione o biológico">
                            <datalist id="listaOrientacao">
                                <option value="Heterossexual">
                                <option value="Homossexual">
                                <option value="Bissexual">
                                <option value="Assexual">
                                <option value="Pansexual">
                            </datalist>
                        </div>




                    </div>
                    <!---------------------------------------------------------->
                    <div id="grupo-input-endereco" >


                        <div id="rua" class="input-comum">
                            <input type="text" id="rua" class="form-input" required = "required">
                            <label for="rua">Rua</label>
                        </div>


                        <div id="container-inputcep" class="input-comum">
                            <div id="cep-numero" class="input-comum">
                                <label for="cep">CEP</label>
                                <input type="number" id="cep" required = "required">
                            </div>

                            <div id="cep-numero" class="input-comum">
                                <label for="NumeroCasa">Número</label>
                                <input type="number" id="NumeroCasa" required = "required"> 
                            </div>
                        </div>

                        <div id="bairro-input" class="input-comum">
                            <input type="text" id="bairro" class="form-input" required = "required">
                            <label for="bairro">Bairro</label>
                        </div>

                        <div id="bairro-input" class="input-comum">
                            <input type="text" id="cidade" class="form-input" required = "required">
                            <label for="cidade">Cidade</label>
                        </div>

                        <div id="complemento-input" class="input-comum">
                            <input type="text" id="complemento" class="form-input" required = "required">
                            <label for="complemento">Complemento</label>
                        </div>

                        <div id="estado-input" class="input-comum">
                            <input type="text" id="estado" class="form-input" required = "required">
                            <label for="estado">Estado</label>
                        </div>
                    </div>
                     <!------------------------------------------------------------>
                    <div id="grupo-input-sitacional" >
                        <div id="numeroProcesso-input" class="input-comum">
                            <input type="number" id="numeroProcesso" required = "required">
                            <label for="numeroProcesso">Número do processo</label>

                        </div>

                        <div id="artigo-input" class="input-comum">
                            <input type="number" id="artigo" required = "required">
                            <label for="artigo">Artigo</label>
                        </div>

                        <div id="terminoPena-input">
                            <label for="terminoPena">Termino Pena</label>
                            <input type="date" id="terminoPena">
                        </div>

                        <div id="prioridade">
                            <p>Prioridade</p>
                            <div id="prioridades">
                                <label for="alta">Alta:</label>
                                <input type="radio" name="" id="alta"> <br>
                                <label for="Médio">Média:</label>
                                <input type="radio" name="" id="media"> <br>
                                <label for="baixa">Baixa:</label>
                                <input type="radio" name="" id="baixa"> <br>
                                </div>
                        </div>


                    </div>

                </div>
                     <!------------------------------------------------------->

                <div id="botao-proximo">
                    <button>Proximo</button>

                </div>  

             </form>   

            </section>

    </main>

</body>
</html>