<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Cadastro de Apenado</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <script defer="defer" th:src="@{/js/apenado.js}"></script>
</head>

<body>
    <main>
        <nav id="menu-lateral">
            <img th:src="@{/imgs/logoRD.png}" alt="" />
            <ul>
                <li id="DadosPessoais" class="topico-menu">Dados pessoais</li>
                <li id="endereco" class="topico-menu">Endereço</li>
                <li id="instrucao" class="topico-menu">Instrução</li>
                <li id="situacional" class="topico-menu">Situacional</li>
            </ul>
        </nav>
        <section>

            <form action="#" th:action="@{/armazenarApenado}" th:object="${apenado}" method="post">
            	<div id="titulo">
                    <h1 id="titulox">TÍTULO</h1>
                </div>
                <div id="container-inputs">
                    <!-----------------------SEÇÃO DADOS PESSOAIS------------------------------>
                    <div id="grupo-input-pessoais">
                        <div id="nome" class="input-normal">
                        	<label for="nome">Nome completo</label>
                            <input type="text" th:field="*{nome}" id="nome" required="required">
                            <label th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Erro no nome</label>
                        </div>

                        <div id="Cpf-inputbox" class="input-normal">
                        	<label for="cpf">CPF</label>
                            <input type="number" th:field="*{cpf}" id="cpf" required="required">
                            <label th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}">Erro no CPF</label>
                        </div>

                        <div id="telefone-input" class="input-normal">
                        	<label for="telefone">Telefone</label>
                            <input type="text" th:field="*{telefone}" id="telefone" required="required">
                            <label th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}">Erro no Telefone</label>
                        </div>

                        <div id="telefone2-inpubox" class="input-normal">
                        	<label for="telefone2">2° Telefone</label>
                            <input type="text" th:field="*{telefone2}" id="telefone2">
                            <label th:if="${#fields.hasErrors('telefone2')}" th:errors="*{telefone2}">Erro no Telefone 2</label>
                        </div>

                        <div id="telefone3-inpubox" class="input-normal">
                        	<label for="telefone3"> 3° Telefone</label>
                            <input type="text" th:field="*{telefone3}" id="telefone3">
                            <label th:if="${#fields.hasErrors('telefone3')}" th:errors="*{telefone3}">Erro no Telefone 3</label>
                        </div>

                        <div id="email-inputbox" class="input-normal">
                        	<label for="email">E-mail</label>
                            <input type="text" th:field="*{email}" id="email" required="required">
                            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Erro no Email</label>
                        </div>

                        <div id="dataNascimento-inputbox">
                            <label for="dataNascimeto">Data de nascimento</label>
                            <input type="date" th:field="*{dataNascimento}" id="dataNascimeto">
                            <label th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}">Erro na Data de Nascimento</label>
                        </div>

                        <div id="cnh-inputbox">
                            <label for="cnh" id="cnhTipo">CHN tipo:</label>
                            <div id="cnh">
                                <label for="categoriaA">A</label>
                                <input type="checkbox" name="cnh" id="categoriaA" value="A">

                                <label for="categoriaB">B</label>
                                <input type="checkbox" name="cnh" id="categoriaB" value="B">

                                <label for="categoriaC">C</label>
                                <input type="checkbox" name="cnh" id="categoriaC" value="C">

                                <label for="categoriaD">D</label>
                                <input type="checkbox" name="cnh" id="categoriaD" value="D">

                                <label for="categoriaE">E</label>
                                <input type="checkbox" name="cnh" id="categoriaE" value="E">
                            </div>
                        </div>

                        <!--Novos inputs-->
                        <div id="sexo-biologico-inputbox" class="input-normal">
                            <label>Sexo Biológico</label>
                            <select name="sexoBiologico" id="sexoBiologico">
                                <option value="Masculino">Masculino</option>
                                <option value="Feminino">Feminino</option>
                                <option value="Não-binário">Não-binario</option>
                            </select>
                        </div>

                        <div id="orientacaoSexual-inputbox" class="input-normal">
                            <label for="">Orientação Sexual</label>
                           <select name="orientacaoSexual" id="orientacaoSexual">
                                <option value="Nenhum" selected>Nenhum</option>
                                <option value="Heterossexual">Heterossexual</option>
                                <option value="Homossexual">Homossexual</option>
                                <option value="Bissexual">Bissexual</option>
                                <option value="Assexual">Assexual</option>
                                <option value="Pansexual">Pansexual</option>
                           </select>
                        </div>

                    </div>
                    <!-----------------------SEÇÃO ENDEREÇO------------------------------>
                    <div id="grupo-input-endereco">

                        <div id="rua" class="input-comum">
                        	<label for="rua">Rua</label>
                            <input type="text" th:field="*{rua}" id="rua" class="form-input" required="required">
                            <label th:if="${#fields.hasErrors('rua')}" th:errors="*{rua}">Erro na Rua</label>
                        </div>


                        <div id="container-inputcep" class="input-comum">
                            <div id="cep-numero" class="input-comum">
                                <label for="cep">CEP</label>
                                <input type="number" th:field="*{cep}" id="cep" required="required">
                                <label th:if="${#fields.hasErrors('cep')}" th:errors="*{cep}">Erro no CEP</label>
                            </div>

                            <div id="cep-numero" class="input-comum">
                                <label for="NumeroCasa">Número</label>
                                <input type="number" th:field="*{numeroDaCasa}" id="NumeroCasa" required="required">
                                <label th:if="${#fields.hasErrors('numeroDaCasa')}" th:errors="*{numeroDaCasa}">Erro no Num da casa</label>
                            </div>
                        </div>

                        <div id="bairro-input" class="input-comum">
                            <label for="bairro">Bairro</label>
                            <input type="text" th:field="*{bairro}" id="bairro" class="form-input" required="required">
                            <label th:if="${#fields.hasErrors('bairro')}" th:errors="*{bairro}">Erro no Bairro</label>
                        </div>

                        <div id="bairro-input" class="input-comum">
                            <label for="cidade">Cidade</label>
                            <input type="text" th:field="*{cidade}" id="cidade" class="form-input" required="required">
                            <label th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}">Erro na Cidade</label>
                        </div>

                        <div id="complemento-input" class="input-comum">
                            <label for="complemento">Complemento</label>
                            <input type="text" th:field="*{complemento}" id="complemento" class="form-input" required="required">
                            <label th:if="${#fields.hasErrors('complemento')}" th:errors="*{complemento}">Erro no Complemento</label>
                        </div>

                        <div id="estado-input" class="input-comum">
                            <label for="estado">Estado</label>
                            <input type="text" th:field="*{estado} "id="estado" class="form-input" required="required">
                            <label th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}">Erro no Estado</label>
                        </div>
                    </div>
					<!-----------------------SEÇÃO INSTRUÇÃO------------------------------>
					<div id="grupo-input-instrucao">
                       
                        <div id="instrucao">
                            <label for="escolaridade">Escolaridade</label>
                            <select name="escolaridade" id="escolaridade">
                                <option value="Nenhum">Nenhum</option>
                                <option value="Ensino fundamental incompleto">Ensino fundamental incompleto</option>
                                <option value="Ensino fundamental completo">Ensino fundamental completo</option>
                                <option value="Ensino medio incompleto">Ensino medio incompleto</option>
                                <option value="Ensino medio completo">Ensino medio completo</option>
                                <option value="Ensino superior incompleto">Ensino superior incompleto</option>
                                <option value="Ensino superior completo">Ensino superior completo</option>
                            </select>

                        </div>

                        <div id="cursos" class="input-comum">
                        	<label for="cursos">cursos</label>
                            <input type="text" th:field="*{curso}" required="required">
                            <label th:if="${#fields.hasErrors('curso')}" th:errors="*{curso}">Erro no Curso</label>
                        </div>

                        <div id="perfil">
                            <label for="area-perfil">Perfil</label>
                            <textarea name="" th:field="*{perfil}" id="area-perfil" cols="30" rows="10"></textarea>
                            <label th:if="${#fields.hasErrors('perfil')}" th:errors="*{perfil}">Erro no Perfil</label>
                        </div>

                        <div id="restricao">
                            <div id="radio-restricao">
                                <p>Existe alguma restrição?:</p>
                                <div>
                                	<label for="nao">Não</label>
                                    <input type="radio" id="radiobtn-restricao-nao" name="drone" value="Não" checked onclick="areaRestricaoBehavior()">
                                </div>

                                <div>
                                    <label for="sim">Sim</label>
                                    <input type="radio" id="radiobtn-restricao-sim" name="drone" value="Sim" onclick="areaRestricaoBehavior()">
                                </div>
                            </div>
                            <textarea id="area-restricao" disabled name="restricao" cols="10" rows="6"></textarea>
                        </div>

                    </div>
                    <!-----------------------SEÇÃO SITUACIONAL------------------------------>
                    <div id="grupo-input-situacional">
                        <div id="numeroProcesso-input" class="input-comum">
                        	<label for="numeroProcesso">Número do processo</label>
                            <input type="text" th:field="*{numeroProcesso}" id="numeroProcesso" required="required">
                            <label th:if="${#fields.hasErrors('numeroProcesso')}" th:errors="*{numeroProcesso}">Erro no Numero do Processo</label>

                        </div>

                        <div id="artigo-input" class="input-comum">
                        	<label for="artigo">Artigo(s)</label>
                            <input type="text" th:field="*{artigos}" id="artigo" required="required">
                            <label th:if="${#fields.hasErrors('artigos')}" th:errors="*{artigos}">Erro no Artigo</label>
                        </div>

                        <div id="terminoPena-input">
                            <label for="terminoPena">Termino Pena</label>
                            <input type="date" th:field="*{dataTerminoPena}" id="terminoPena">
                            <label th:if="${#fields.hasErrors('dataTerminoPena')}" th:errors="*{dataTerminoPena}">Erro no Termino de Pena</label>
                        </div>

                        <div id="prioridade">
                            <p>Prioridade</p>
                            <div id="prioridades">
                                <label for="alta">Alta:</label>
                                <input type="radio" name="prioridade" value="Alta" id="alta"> <br>
                                <label for="Médio">Média:</label>
                                <input type="radio" name="prioridade" value="Média" id="media"> <br>
                                <label for="baixa">Baixa:</label>
                                <input type="radio" name="prioridade" value="Baixa" id="baixa"> <br>
                            </div>
                        </div>

                        <h1> Dados Bancários</h1>
                        <div id="numeroConta">
                            <label for="numeroDaConta">Número da Conta</label>
                            <input type="text" name="numConta" id="numeroDaConta">
                            <label th:if="${#fields.hasErrors('numConta')}" th:errors="*{numconta}">Erro no Número da Conta</label>
                        </div>

                        <div id ="agencia">
                            <label for="agencia">Agência</label>
                            <input type="text" name="agencia" id="agencia">
                            <label th:if="${#fields.hasErrors('agencia')}" th:errors="*{agencia}">Erro no Número da Agência</label>
                        </div>

                        <div id ="banco">
                            <label for="banco">Banco</label>
                            <input type="text" name="banco" id="banco">
                            <label th:if="${#fields.hasErrors('banco')}" th:errors="*{banco}">Erro no nome do Banco</label>
                        </div>

                        <div id ="operacao">
                            <label for="operacao">Operação</label>
                            <input type="text" name="operacao" id="operacao">
                            <label th:if="${#fields.hasErrors('operacao')}" th:errors="*{operacao}">Erro na Operação</label>
                        </div>
						
						
						<div id="botao-proximo">
                    		<button type="submit">Cadastrar</button>
                		</div>
                    </div>

                </div>

                <!-----------------------FIM DAS SEÇÕES------------------------------>

                <div id="botao-proximo">
                    <button>Proximo</button>
                </div>

            </form>

        </section>

    </main>

</body>

<!-- <body>
    <h1>Apenado</h1>
    <form action="#" th:action="@{/armazenarApenado}" th:object="${apenado}" method="post">
        <table>
            <tr>
                <td>CPF:</td>
                <td><input type="text" th:field="*{cpf}" /></td>
                <td th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}">Erro no CPF</td>
            </tr>
            <tr>
                <td>Nome:</td>
                <td><input type="text" th:field="*{nome}" /></td>
                <td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Erro no Nome</td>
            </tr>
            <tr>
                <td>Data de Nascimento:</td>
                <td><input type="date" th:field="*{dataNascimento}" /></td>
                <td th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}">Erro na Data de Nascimento</td>
            </tr>
            <tr>
                <td><button type="submit">Submit</button><input type="reset" value="Reset" /></td>
            </tr>
        </table>
        <p><a th:href="@{/listarApenados}">Voltar para a lista</a></p>
    </form>
</body> -->

</html>