<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Cadastro de Apenado</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="icon" th:href="@{/imgs/logoRD.png}">
    <script defer="defer" th:src="@{/js/apenado.js}"></script>
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=10, minimum-scale=1.0">
</head>

<body>
    <div class="fade-modal"></div>
    <main>
        <nav id="menu-lateral" >

                    <img th:src="@{/imgs/logoRD.png}" alt="Logo do RessociaDigi"  />

            <ul>
                <li id="dp">Dados pessoais</li>
                <li id="ende">Endereço</li>
                <li id="inst">Instrução</li>
                <li id="situ">Situacional</li>
            </ul>

            <div class="tap">
                <div class="botao-container">
                    <a id="botao-voltar" >Voltar</a>
                </div>
            </div>
        </nav>

        <!-- Modal de confirmação + fade-->

        <div class="modal-confirm">
            <h2>Tem certeza que deseja voltar?</h2>
            <h3>Todo o preenchimento será perdido.</h3>
            <div class="botao-modal-confirm">
                <button id="cancelar">Não, preencher formulário</button>
                <a th:href="@{/}">Sim, voltar</a>
            </div>
        </div>

        <section>

            <form action="#" th:action="@{/armazenarApenado}" th:object="${apenado}" method="post" id="formulario">
                <div id="titulo">
                    <h1 onclick="mudarTitulo()" id="titulox">Dados Pessoais</h1>
                    <div id="div-sinalizacao">Os dados que contém a sinalização <a id="sinal">(*)</a> são obrigatórios!
                    </div>
                </div>
                <div id="container-inputs">
                    <!-----------------------SEÇÃO DADOS PESSOAIS------------------------------>
                    <div id="grupo-input-pessoais">
                        <div id="nome" class="input-normal">
                            <label for="nome">Nome completo <a id="sinal">*</a></label>
                            <input maxlength="60" type="text" th:field="*{nome}" id="nome">
                            <label id="labelError" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Erro no
                                nome</label>
                        </div>

                        <div id="Cpf-inputbox" class="input-normal">
                            <label for="cpf">CPF <a id="sinal">*</a></label>
                            <input type="text" th:field="*{cpf}" id="cpf">
                            <label id="labelError" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}">Erro no
                                CPF</label>
                        </div>

                        <div id="telefone-input" class="input-normal">
                            <label for="telefone">Telefone <a id="sinal">*</a></label>
                            <input type="text" th:field="*{telefone}" id="telefone" maxlength="15">
                            <label id="labelError" th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}">Erro
                                no
                                Telefone</label>
                        </div>

                        <div id="telefone2-inpubox" class="input-normal">
                            <label for="telefone2">2° Telefone</label>
                            <input type="text" th:field="*{telefone2}" id="telefone2" maxlength="15">
                            <label id="labelError" th:if="${#fields.hasErrors('telefone2')}" th:errors="*{telefone2}">Erro no Telefone
                                2</label>
                        </div>

                        <div id="nomeMae" class="input-normal">
                            <label for="nomeMae">Nome da mãe</label>
                            <input type="text" th:field="*{nomeDaMae}" id="nomeDaMae">
                            <label id="labelError" th:if="${#fields.hasErrors('nomeDaMae')}" th:errors="*{nomeDaMae}">Erro no Telefone
                                3</label>
                        </div>

                        <div id="email-inputbox" class="input-normal">
                            <label for="email">E-mail</label>
                            <input type="text" th:field="*{email}" id="email">
                            <label id="labelError" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Erro
                                no
                                Email</label>
                        </div>

                        <div id="dataNascimento-inputbox" class="input-normal">
                            <label for="dataNascimeto">Data de Nascimento <a id="sinal">*</a></label>
                            <input type="date" th:field="*{dataNascimento}" id="dataNascimento">
                            <label id="labelError" th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}">Erro na
                                Data de Nascimento</label>
                        </div>

                        <div id="cnh-inputbox">
                            <label for="cnh" id="cnhTipo">CNH tipo:</label>
                            <div id="cnh">
                                <input type="checkbox" th:each="cnh : ${cnhsList}" th:text="${cnh}" th:value="${cnh}" th:checked="${apenado.getCnhs().contains(cnh)}" th:field="*{cnhs}" />
                            </div>
                        </div>

                        <!--Novos inputs-->
                        <div id="sexo-biologico-inputbox" class="input-normal">
                            <label>Sexo Biológico <a id="sinal">*</a></label>
                            <select name="sexoBiologico" th:field="*{sexoBiologico}" id="sexoBiologico">
                                <option value="Masculino">Masculino</option>
                                <option value="Feminino">Feminino</option>
                                <option value="Não-binário">Não-binario</option>
                            </select>
                            <label id="labelError" th:if="${#fields.hasErrors('sexoBiologico')}" th:errors="*{sexoBiologico}">Erro no Sexo Biológico</label>
                        </div>

                        <div id="orientacaoSexual-inputbox" class="input-normal">
                            <label for="">Orientação Sexual</label>
                            <select name="orientacaoSexual" th:field="*{orientacaoSexual}" id="orientacaoSexual">
                                <option value="Nenhum" selected>Nenhum</option>
                                <option value="Heterossexual">Heterossexual</option>
                                <option value="Homossexual">Homossexual</option>
                                <option value="Bissexual">Bissexual</option>
                                <option value="Assexual">Assexual</option>
                                <option value="Pansexual">Pansexual</option>
                            </select>
                            <label id="labelError" th:if="${#fields.hasErrors('orientacaoSexual')}" th:errors="*{orientacaoSexual}">Erro no Orientação Sexual</label>
                        </div>

                    </div>
                    <!-----------------------SEÇÃO ENDEREÇO------------------------------>
                    <div id="grupo-input-endereco">

                        <div id="rua" class="input-normal">
                            <label for="rua">Rua</label>
                            <input type="text" th:field="*{rua}" id="rua" class="form-input">
                            <label id="labelError" th:if="${#fields.hasErrors('rua')}" th:errors="*{rua}">Erro na
                                Rua</label>
                        </div>


                        <div id="cep-numero" class="input-normal">
                            <label for="cep">CEP</label>
                            <input type="text" th:field="*{cep}" id="cep">
                            <label id="labelError" th:if="${#fields.hasErrors('cep')}" th:errors="*{cep}">Erro no
                                CEP</label>
                        </div>

                        <div id="cep-numero" class="input-normal">
                            <label for="NumeroCasa">Número</label>
                            <input type="text" th:field="*{numeroDaCasa}" id="NumeroCasa">
                            <label id="labelError" th:if="${#fields.hasErrors('numeroDaCasa')}" th:errors="*{numeroDaCasa}">Erro no Num da casa</label>
                        </div>

                        <div id="bairro-input" class="input-normal">
                            <label for="bairro">Bairro</label>
                            <input type="text" th:field="*{bairro}" id="bairro" class="form-input">
                            <label id="labelError" th:if="${#fields.hasErrors('bairro')}" th:errors="*{bairro}">Erro
                                no Bairro</label>
                        </div>

                        <div id="bairro-input" class="input-normal">
                            <label for="cidade">Cidade</label>
                            <input type="text" th:field="*{cidade}" id="cidade" class="form-input">
                            <label id="labelError" th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}">Erro
                                na Cidade</label>
                        </div>

                        <div id="complemento-input" class="input-normal">
                            <label for="complemento">Complemento</label>
                            <input type="text" th:field="*{complemento}" id="complemento" class="form-input">
                            <label id="labelError" th:if="${#fields.hasErrors('complemento')}" th:errors="*{complemento}">Erro no Complemento</label>
                        </div>

                        <div id="estado-input" class="input-normal">
                            <label for="estado">Estado</label>
                            <select id="estado" th:field="*{estado}" name="estado">
                                <option value="Default" selected>Nenhum</option>
                                <option value="Acre">Acre</option>
                                <option value="Alagoas">Alagoas</option>
                                <option value="Amapá">Amapá</option>
                                <option value="Amazonas">Amazonas</option>
                                <option value="Bahia">Bahia</option>
                                <option value="Ceará">Ceará</option>
                                <option value="Distrito Federal">Distrito Federal</option>
                                <option value="Espírito Santo">Espírito Santo</option>
                                <option value="Goiás">Goiás</option>
                                <option value="Maranhão">Maranhão</option>
                                <option value="Mato Grosso">Mato Grosso</option>
                                <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                                <option value="Minas Gerais">Minas Gerais</option>
                                <option value="Pará">Pará</option>
                                <option value="Paraíba">Paraíba</option>
                                <option value="Paraná">Paraná</option>
                                <option value="Pernambuco">Pernambuco</option>
                                <option value="Piauí">Piauí</option>
                                <option value="Rio de Janeiro">Rio de Janeiro</option>
                                <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                                <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                                <option value="Rondônia">Rondônia</option>
                                <option value="Roraima">Roraima</option>
                                <option value="Santa Catarina">Santa Catarina</option>
                                <option value="São Paulo">São Paulo</option>
                                <option value="Sergipe">Sergipe</option>
                                <option value="Tocantins">Tocantins</option>
                            </select>
                            <label id="labelError" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}">Erro
                                no Estado</label>
                        </div>
                    </div>
                    <!-----------------------SEÇÃO INSTRUÇÃO------------------------------>
                    <div id="grupo-input-instrucao">

                        <div id="habilidades" class="input-normal">
                            <label for="selHabilidade">Habilidades</label>
                            <select id="selHabilidade" name="habilidades" th:field="*{habilidades}" multiple="multiple" size="3">
                            	<option th:each="habilidade : ${apenado.getHabilidades()}" th:value="${habilidade}" th:text="${habilidade}"></option>
                            </select>
                            <button type="button" name="Habilidades" class="buttonAdicionarHabilidade" data-add="selHabilidade">+</button>
                            <label id="labelError" th:if="${#fields.hasErrors('habilidades')}" th:errors="*{habilidades}">Erro
                                nas Habilidades</label>
                        </div>


                        <div id="cursos" class="input-normal">
                            <label for="selCursos">Cursos</label>
                            <select id="selCursos" th:field="*{cursos}" multiple="multiple" size="3">
                            	<option th:each="curso : ${apenado.getCursos()}" th:value="${curso}" th:text="${curso}"></option>
                            </select>
                            <button type="button" name="Cursos" class="buttonAdicionarHabilidade" data-add="selCursos">+</button>
                            <label id="labelError" th:if="${#fields.hasErrors('cursos')}" th:errors="*{cursos}">Erro
                                no Curso</label>
                        </div>

                        <div id="perfil" class="input-normal">
                            <label for="area-perfil">Perfil</label>
                            <textarea name="" th:field="*{perfil}" id="area-perfil" cols="30" rows="10"></textarea>
                            <label id="labelError" th:if="${#fields.hasErrors('perfil')}" th:errors="*{perfil}">Erro
                                no Perfil</label>
                        </div>

                        <div id="restricao">
                            <label>Existe alguma restrição?:</label><br>
                            <input type="radio" th:each="restricao : ${restricoes}" th:value="${restricao}" th:text="${restricao.texto}" th:checked="${apenado.getRestricao().equals(restricao)}" th:field="*{restricao}" /><br>
                            <textarea id="area-restricao" disabled th:field="*{textoRestricao}" name="restricao" cols="10" rows="6"></textarea>
                            <label id="labelError" th:if="${#fields.hasErrors('textoRestricao')}" th:errors="*{textoRestricao}">Erro na Restrição</label>
                        </div>
                        <!-- HABILIDADES FICA AQUI ABAIXO -->
                        <div id="instrucao" class="input-normal">
                            <label for="escolaridade">Escolaridade</label>
                            <select name="escolaridade" th:field="*{escolaridade}" id="escolaridade">
                                <option value="Nenhum">Nenhum</option>
                                <option value="Ensino fundamental incompleto">Ensino fundamental incompleto</option>
                                <option value="Ensino fundamental completo">Ensino fundamental completo</option>
                                <option value="Ensino medio incompleto">Ensino medio incompleto</option>
                                <option value="Ensino medio completo">Ensino medio completo</option>
                                <option value="Ensino superior incompleto">Ensino superior incompleto</option>
                                <option value="Ensino superior completo">Ensino superior completo</option>
                            </select>
                            <label id="labelError" th:if="${#fields.hasErrors('escolaridade')}" th:errors="*{escolaridade}">Erro na Escolaridade</label>
                        </div>
                    </div>
                    <!-----------------------SEÇÃO SITUACIONAL------------------------------>
                    <div id="grupo-input-situacional">
                        <div id="numeroProcesso-input" class="input-normal">
                            <label for="numeroProcesso">Número do processo</label>
                            <input type="text" th:field="*{numeroProcesso}" id="numeroProcesso">
                            <label id="labelError" th:if="${#fields.hasErrors('numeroProcesso')}" th:errors="*{numeroProcesso}">Erro no Numero do Processo</label>

                        </div>

                        <div id="artigo-input" class="input-normal">
                            <label for="artigo">Artigo(s)</label>
                            <!-- <input type="text" th:field="*{artigos}" id="artigo"> -->
                            <select id="selArtigos" th:field="*{artigos}" multiple="multiple" size="3">
                            	<option th:each="artigo : ${apenado.getArtigos()}" th:value="${artigo}" th:text="${artigo}"></option>
                            </select>
                            <button type="button" name="Artigos" class="buttonAdicionarHabilidade" data-add="selArtigos">+</button>
                            <label id="labelError" th:if="${#fields.hasErrors('artigos')}" th:errors="*{artigos}">Erro
                                no Artigo</label>
                        </div>

                        <div id="terminoPena-input" class="input-normal">
                            <label for="terminoPena">Termino Pena</label>
                            <input type="date" th:field="*{dataTerminoPena}" id="terminoPena">
                            <label id="labelError" th:if="${#fields.hasErrors('dataTerminoPena')}" th:errors="*{dataTerminoPena}">Erro no Termino de Pena</label>
                        </div>

                        <div id="prioridade">
                            <p>Prioridade</p>
                            <div id="prioridades">
                                <input type="radio" th:each="p : ${prioridades}" th:value="${p}" th:text="${p.texto}" th:checked="${apenado.getPrioridade() == p}" th:field="*{prioridade}" />
                            </div>
                            <label id="labelError" th:if="${#fields.hasErrors('prioridade')}" th:errors="*{prioridade}">Erro na Prioridade</label>
                        </div>

                        <fieldset class="fieldset-dados-bancarios">
                            <legend>
                                <h1> Dados Bancários</h1>
                            </legend>

                            <div id="div-numeroConta" class="input-normal-dados-bancarios">
                                <label for="numeroDaConta">Número da Conta</label>
                                <input type="text" th:field="*{numConta}" name="numConta" id="numeroDaConta">
                                <label id="labelError" th:if="${#fields.hasErrors('numConta')}" th:errors="*{numConta}">Erro no Número da Conta</label>
                            </div>

                            <div id="div-agencia" class="input-normal-dados-bancarios">
                                <label for="agencia">Agência</label>
                                <input type="text" th:field="*{agencia}" name="agencia" id="agencia">
                                <label id="labelError" th:if="${#fields.hasErrors('agencia')}" th:errors="*{agencia}">Erro no Número da
                                    Agência</label>
                            </div>

                            <div id="div-banco" class="input-normal-dados-bancarios">
                                <label for="banco">Banco</label>
                                <input type="text" th:field="*{banco}" name="banco" id="banco">
                                <label id="labelError" th:if="${#fields.hasErrors('banco')}" th:errors="*{banco}">Erro
                                    no nome do
                                    Banco</label>
                            </div>

                            <div id="div-operacao" class="input-normal-dados-bancarios">
                                <label for="operacao">Operação</label>
                                <input type="text" th:field="*{operacao}" name="operacao" id="operacao">
                                <label id="labelError" th:if="${#fields.hasErrors('operacao')}" th:errors="*{operacao}">Erro na
                                    Operação</label>
                            </div>
                        </fieldset>
                        <div></div>
                        <div id="botao-cadastrar">
                            <button type="submit">Cadastrar</button>
                        </div>
                    </div>

                </div>

                <!-----------------------FIM DAS SEÇÕES------------------------------>

            </form>

        </section>

    </main>

    <dialog class="input-normal">
        <input type="hidden" id="dialogHidden" />
        <header class="headModal">
            <legend class="modalHabilidadeLabel">HABILIDADES</legend>
            <button id="dialogClose">X</button>
        </header>
        <div class="addInputBox">
            <label for="dialogValue" class="labelAddHabilidade">Adicione uma habilidade</label>
            <div class="inputAddHabilidade">
                <input type="text" id="dialogValue">
                <button class="buttonAdicionarHabilidade" id="dialogAdd">+</button>
            </div>
        </div>
        <div class="removeInputBox">
            <label for="dialogSelect" class="labelAddHabilidade labelRemove">Remova uma instrução</label>
            <div class="inputRemoveHabilidade">
                <select id="dialogSelect" multiple="multiple"></select>
                <button class="buttonRemoverHabilidade" id="dialogDel">Delete</button>
            </div>
        </div>

    </dialog>

</body>

</html>