<div class="modal-detalhamento" >
  <div id="header-detalhamento">
    <h1>Detalhamento</h1>
    <span id="btn-voltar-detalhamento">X</span>
  </div>
  <div class="caixa-detalhamento">
    <div class="item-detalhamento">
      <h3>Nome</h3>
      <p th:text="${detalhamentoEmpresa.nome}"></p>
    </div>
    <div class="item-detalhamento">
      <h3>CNPJ</h3>
      <p th:text="${detalhamentoEmpresa.cnpj}"></p>
    </div>
    <div class="item-detalhamento">
      <h3>Responsável</h3>
      <p th:text="${detalhamentoEmpresa.responsavel}"></p>
    </div>
    <div class="item-detalhamento">
      <h3>Interlocutor</h3>
      <p th:text="${detalhamentoEmpresa.interlocutor}"></p>
    </div>
    <div class="item-detalhamento">
      <h3>Telefones</h3>
      <p th:text="${detalhamentoEmpresa.telefone}"></p>
      <p th:text="${detalhamentoEmpresa.telefone2}"></p>
    </div>
    <div class="item-detalhamento">
      <h3>E-mail</h3>
      <p th:text="${detalhamentoEmpresa.email}"></p>
    </div>
    <div class="item-detalhamento">
      <h3>Número do Convênio</h3>
      <p th:text="${detalhamentoEmpresa.numConvenio}"></p>
    </div>
    <div class="item-detalhamento">
      <h3>Vigência</h3>
      <p th:text="${detalhamentoEmpresa.vigencia}"></p>
    </div>
    <div class="item-detalhamento">
      <h3>Endereço</h3>
      <p th:text="${detalhamentoEmpresa.rua}"></p>,
      <p th:text="${detalhamentoEmpresa.numero}"></p>,
      <p th:text="${detalhamentoEmpresa.complemento}"></p> -
      <p th:text="${detalhamentoEmpresa.bairro}"></p>,
      <p th:text="${detalhamentoEmpresa.cidade}"></p> -
      <p th:text="${detalhamentoEmpresa.estado}"></p>. CEP:
      <p th:text="${detalhamentoEmpresa.cep}"></p>
    </div>
  </div>
  <div class="caixa-detalhamento">
    <div class="item-detalhamento">
      <h3>Lista de Vagas</h3>
      <ul>
        <li th:each="vaga : ${detalhamentoEmpresa.vagas}" th:text="${vaga}"></li>
      </ul>
    </div>
  </div>
</div>