<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/listarEmpresas.css}" />
    <link rel="icon" th:href="@{/imgs/logoRD.png}">
    <title>Lista de Empresas</title>
</head>

<body>

    <main>
        <div class="title">
            <img th:src="@{/imgs/logoRD.png}" width="10%" height="10%" alt="" />
            <!-- <h1>RESSOCIADIGI</h1> -->
        </div>
        <div class="top-layer">
            <legend>TODOS</legend>
        </div>
        <div class="header-tabela">
        	<form action="#" th:action="@{/buscarEmpresa}" th:object="${busca}" method="post">
	            <div class="buscador">
	            	<select id="select-tipoBusca" th:field="*{tipoBusca}">
	            		<option value="CNPJ">CNPJ</option>
	            		<option value="NOME DA EMPRESA">NOME DA EMPRESA</option>
	            		<option value="RESPONSÁVEL">RESPONSÁVEL</option>
	            		<option value="INTERLOCUTOR">INTERLOCUTOR</option>
	            		<option value="TELEFONE">TELEFONE</option>
	            		<option value="EMAIL">EMAIL</option>
	            		<option value="CIDADE">CIDADE</option>
	            		<option value="ESTADO">ESTADO</option>
	            	</select>
	                <input type="search" placeholder="Buscar" id="nome" th:field="*{valorBusca}" />
	                <!-- Funcionalidade de busca ainda em teste!! -->
	                <a><button id="buscar">Buscar</button></a>
	            
	        	</div>
			</form>
            <a th:href="@{/inserirEmpresa}"><button class="AdicionarEmpresa">+</button></a>
			
        </div>
        <table>
            <thead>
                <tr>
                    <th>CNPJ</th>
                    <th>NOME DA EMPRESA</th>
                    <th>RESPONSÁVEL</th>
                    <th>INTERLOCUTOR</th>
                    <th>TELEFONE</th>
                    <th>2º TELEFONE</th>
                    <th>EMAIL</th>
                    <th>CIDADE</th>
                    <th>ESTADO</th>
                    <th>AÇÕES</th>
                </tr>
            </thead>
            
            <tbody>
            	<tr th:if="${listaEmpresas.empty}">
            		<td colspan="10">Não há empresas registradas no sistema.</td>
            	</tr>
                <tr th:each="empresa : ${listaEmpresas}">
                    <td><span th:text="${empresa.cnpj}">CNPJ</span></td>
                    <td><span th:text="${empresa.nome}">Nome</span></td>
                    <td><span th:text="${empresa.responsavel}">Responsável</span></td>
                    <td><span th:text="${empresa.interlocutor}">Interlocutor</span></td>
                    <td><span th:text="${empresa.telefone}">Telefone</span></td>
                    <td><span th:text="${empresa.telefone2}">2º Telefone</span></td>
                    <td><span th:text="${empresa.email}">Email</span></td>
                    <td><span th:text="${empresa.cidade}">Cidade</span></td>
                    <td><span th:text="${empresa.estado}">Estado</span></td>
                    <td id="Btn-remove-edit">
                        <a th:href="@{/alterarEmpresaForm(cnpj=${empresa.cnpj})}"><button>Editar</button></a>
                        <a th:href="@{/removerEmpresa(cnpj=${empresa.cnpj})}"><button>Remover</button></a>
                    </td>
                </tr>
          	</tbody>
          	<tfoot>
	        	<tr>
	        		<td></td>
	        		<td></td>
	        		<td></td>
	        		<td></td>
	        		<td></td>
	        		<td></td>
	        		<td></td>
	        		<td></td>
	        		<td>Página X de X</td>
	        		<td id="previousAndNextButtons"><a th:href="@{#}">&lt;&lt;</a><a th:href="@{#}">&gt;&gt;</a></td>
	        	</tr>
		    </tfoot>          	
        </table>
    </main>

</body>

</html>