<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/listarEmpresas.css">
    <title>Document</title>
</head>

<body>

    <main>
        <div class="header-tabela">
            <div class="buscador">
                <input type="search" placeholder="Buscar">
                <button id="buscar">Buscar</button>
            </div>

            <button class="AdicionarEmpresa">+</button>

        </div>
        <table>
            <thead>
                <tr>
                    <th>Cnpj</th>
                    <th>Nome da empresa</th>
                    <th>Responsavel</th>
                    <th>interlocutor</th>
                    <th>Telefone</th>
                    <th>2° Telefone</th>
                    <th>Email</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th></th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Cnpj">43245555565476</td>
                    <td data-label="Nome da empresa">IFPE</td>
                    <td data-label="Responsavel">Paulo abadie</td>
                    <td data-label="Interlocutor">registro da silva</td>
                    <td data-label="Telefone">81 99999999</td>
                    <td data-label="2° Telefone">81 99999998</td>
                    <td data-label="email">emailx@gmail.com</td>
                    <td data-label="Cidade">recife</td>
                    <td data-label="Estado">Pernambuco</td>
                    <td>
                        <button>Editar</button>
                    </td>
                </tr>
                <tr>
                <tr>
                    <td data-label="Cnpj">43245555565476</td>
                    <td data-label="Nome da empresa">IFPE</td>
                    <td data-label="Responsavel">Paulo abadie</td>
                    <td data-label="Interlocutor">registro da silva</td>
                    <td data-label="Telefone">81 99999999</td>
                    <td data-label="2° Telefone">81 99999998</td>
                    <td data-label="email">emailx@gmail.com</td>
                    <td data-label="Cidade">recife</td>
                    <td data-label="Estado">Pernambuco</td>
                    <td id="bot">
                        <button>Editar</button>
                        
                    </td>
                    
                </tr>
                <tr>
                    <td data-label="Cnpj">43245555565476</td>
                    <td data-label="Nome da empresa">IFPE</td>
                    <td data-label="Responsavel">Paulo abadie</td>
                    <td data-label="Interlocutor">registro da silva</td>
                    <td data-label="Telefone">81 99999999</td>
                    <td data-label="2° Telefone">81 99999998</td>
                    <td data-label="email">emailx@gmail.com</td>
                    <td data-label="Cidade">recife</td>
                    <td data-label="Estado">Pernambuco</td>
                    <td id="bot">
                        <button>Editar</button>
                        
                    </td>
                    
                </tr>
                
            </tbody>
        </table>
    </main>

</body>

</html>