<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=10, minimum-scale=1.0">
    <link rel="stylesheet" th:href="@{css/listagens.css}" />
    <script defer="defer" th:src="@{/js/vagas.js}"></script>
    <link rel="icon" th:href="@{/imgs/logoRD.png}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Lista de Vagas</title>
   </head>

<body>
    <div id="detalhamento-fade">
        <div id="modal-detalhamento">

        </div>

    </div>
    <main>
        <div class="title">
            <div class="title">
                <a th:href="@{/}">
                    <h1>RessociaDigi</h1>
                    <hr>
                </a>

            </div>
        </div>

        <div class="top-layer">
            <h3>Vagas</h3>
        </div>

        <div class="header-tabela">
            <div class="buscador">
                <button id="icone-filtro" type="button" class="botao laranja">Filtrar</button>
            </div>

            <a th:href="@{/inserirVaga}">
                <button type="button" class="botao laranja">Cadastrar Vagas</button>
            </a>

            <form method="get" action="/listarVagas">
                <select id="tamanho_da_lista" class="form-select" name="limite">
                    <span th:each="item : ${limites}">
                         <option th:value="${item}" class="value-option" th:text="${item}" th:selected="${item} == ${limite}"></option>
                    </span>
                </select>
            </form>
        </div>

        <div id="filtroModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h4 class="modal-title">Busca Personalizada</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/listarVagas">

                            <div class="form-group">
                                <label for="inputEmpresa">Empresa</label>
                                <input type="text" class="form-control" id="inputEmpresa" placeholder="Empresa" name="empresa">
                            </div>
                            <div class="form-group">
                                <label for="inputTipo">Tipo</label>
                                <input type="text" class="form-control" id="inputTipo" placeholder="Tipo" name="tipo">
                            </div>
                            <div class="form-group">
                                <label for="inputInterlocutor">Interlocutor</label>
                                <input type="text" class="form-control" id="inputInterlocutor" placeholder="Interlocutor" name="interlocutor">
                            </div>
                            <div class="form-group">
                                <label for="inputVagasMasculinas">Vagas Masculinas</label>
                                <input type="number" value="0" class="form-control" id="inputVagasMasculinas" placeholder="Vagas Masculinas" name="quantidadeVagasMasculinas">
                            </div>
                            <div class="form-group">
                                <label for="inputVagasFemininas">Vagas Femininas</label>
                                <input type="number" value="0" class="form-control" id="inputVagasFemininas" placeholder="Vagas Femininas" name="quantidadeVagasFemininas">
                            </div>
                            <div class="form-group">
                                <label for="inputCargaHoraria">Carga Horaria</label>
                                <input type="number" value="0" class="form-control" id="inputCargaHoraria" placeholder="Carga Horaria" name="cargaHoraria">
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>NOME DA EMPRESA</th>
                    <th>TIPO</th>
                    <th>INTERLOCUTOR</th>
                    <th>VAGAS MASCULINAS</th>
                    <th>VAGAS FEMININAS</th>
                    <th>CARGA HORÁRIA</th>
                    <th>OPERAÇÕES</th>
                </tr>
            </thead>
            
            <tbody>
            	<tr th:if="${listaVagas.empty}">
            		<td colspan="7">Não há vagas registradas no sistema.</td>
            	</tr>
                <tr th:each="vaga : ${listaVagas}">
                    <td data-label="NOME DA EMPRESA"><span th:text="${vaga.empresa.nome}">NOME DA EMPRESA</span></td>
                    <td data-label="TIPO"><span th:text="${vaga.tipo}">TIPO</span></td>
                    <td data-label="INTERLOCUTOR"><span th:text="${vaga.interlocutor}">INTERLOCUTOR</span></td>
                    <td data-label="VAGAS MASCULINAS"><span th:text="${vaga.quantidadeVagasMasculinas}">VAGAS MASCULINAS</span></td>
                    <td data-label="VAGAS FEMININAS"><span th:text="${vaga.quantidadeVagasFemininas}">VAGAS FEMININAS</span></td>
                    <td data-label="CARGA HORÁRIA"><span th:text="${vaga.cargaHoraria}">CARGA HORÁRIA</span></td>
                    <td id="Btn-remove-edit" width="180">
                        <button id="ver-mais" th:attr="data-id=${vaga.getId()}"><img class="icones-lista" src="/imgs/view.png" alt="detalhamento"></button>
                        <a th:href="@{/alterarVaga(id=${vaga.getId()})}"><button><img class="icones-lista" src="/imgs/edit.png" alt="editar item"></button></a>
                        <a id="botao-remover" href="#" th:attr="data-nome=${vaga.empresa.nome}, data-id=${vaga.getId()}" data-toggle="modal" data-target="#confirmModal"><button><img class="icones-lista" src="/imgs/remove.png" alt="remover item"></button></a>
                    </td>
                </tr>
          	</tbody>
        </table>

        <div id="confirmModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h4 class="modal-title">Confirmar exclusão</h4>
                    </div>
                    <div class="modal-body">
                        <p>Você tem certeza que deseja excluir essa vaga?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cancelar</button>
                        <a id="botao-confirmar-remover" href="#" class="btn btn-danger">Excluir</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer">
            <div class="botao-container">
                <a th:href="@{/}">
                    <button type="button" class="botao laranja">Voltar</button>
                </a>
            </div>

            <div id="pagination">

                <div id="pageCounter">
                    <p th:text="${'Pagina ' + numPaginaAtual + ' de ' + numTotalPaginas}"> </p>
                </div>

                <div id="previousAndNextButtons">
                    <a th:href="@{listarVagas(empresa=${#httpServletRequest.getParameter('empresa')?:''},tipo=${#httpServletRequest.getParameter('tipo')?:''},interlocutor=${#httpServletRequest.getParameter('interlocutor')?:''},vagasMasculinas=${#httpServletRequest.getParameter('vagasMasculinas')?:'0'},vagasFemininas=${#httpServletRequest.getParameter('vagasFeminas')?:'0'},cargaHoraria=${#httpServletRequest.getParameter('cargaHoraria')?:'0'}, page=0)}">
                        <button type="button" class="botao laranja"><<</button>
                    </a>
                    <a th:href="@{listarVagas(empresa=${#httpServletRequest.getParameter('empresa')?:''},tipo=${#httpServletRequest.getParameter('tipo')?:''},interlocutor=${#httpServletRequest.getParameter('interlocutor')?:''},vagasMasculinas=${#httpServletRequest.getParameter('vagasMasculinas')?:'0'},vagasFemininas=${#httpServletRequest.getParameter('vagasFeminas')?:'0'},cargaHoraria=${#httpServletRequest.getParameter('cargaHoraria')?:'0'}, page=${previousPage})}">
                        <button type="button" class="botao laranja"><</button>
                    </a>
                    <a th:href="@{listarVagas(empresa=${#httpServletRequest.getParameter('empresa')?:''},tipo=${#httpServletRequest.getParameter('tipo')?:''},interlocutor=${#httpServletRequest.getParameter('interlocutor')?:''},vagasMasculinas=${#httpServletRequest.getParameter('vagasMasculinas')?:'0'},vagasFemininas=${#httpServletRequest.getParameter('vagasFeminas')?:'0'},cargaHoraria=${#httpServletRequest.getParameter('cargaHoraria')?:'0'}, page=${nextPage})}">
                        <button type="button" class="botao laranja">></button>
                    </a>
                    <a th:href="@{listarVagas(empresa=${#httpServletRequest.getParameter('empresa')?:''},tipo=${#httpServletRequest.getParameter('tipo')?:''},interlocutor=${#httpServletRequest.getParameter('interlocutor')?:''},vagasMasculinas=${#httpServletRequest.getParameter('vagasMasculinas')?:'0'},vagasFemininas=${#httpServletRequest.getParameter('vagasFeminas')?:'0'},cargaHoraria=${#httpServletRequest.getParameter('cargaHoraria')?:'0'}, page=${quantidadePaginas - 1})}">
                        <button type="button" class="botao laranja">>></button>
                    </a>
                </div>

            </div>
        </div>
    </main>
</body>

</html>
