<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Lista de Apenados</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{css/listarEmpresas.css}" />
    <!-- <link rel="stylesheet" th:href="@{/css/result-style.css}" /> -->
    <script defer="defer" th:src="@{/js/result.js}"></script>
    <link rel="icon" th:href="@{/imgs/logoRD.png}">
</head>

<body>
	
	<main>
        <div class="title">
            <img th:src="@{/imgs/logoRD.png}" width="10%" height="10%" alt="" />
        </div>
        <div class="top-layer">
            <legend>TODOS</legend>
        </div>
        <div class="header-tabela">
        	
        	<form action="#" th:action="@{/listarApenados}" method="post">
	            <div class="buscador">
	            	<select id="select-tipoBusca" name="searchBy">
	            		<option value="NOME">NOME</option>
	            		<option value="CPF">CPF</option>
	            		<option value="DATA DE NASCIMENTO">DATA DE NASCIMENTO</option>
	            		<option value="NOME DA MÃE">NOME DA MÃE</option>
	            		<option value="CONTATO">CONTATO</option>
	            	</select>
	                <input type="search" placeholder="Buscar" name="value" id="value" />
	                
	                <a><button id="buscar">Buscar</button></a>
	        	</div>
			 </form>
			 
            <a th:href="@{/inserirApenado}"><button class="AdicionarEmpresa">+</button></a>
			
        </div>
        <table>
            <thead>
                <tr>
                	<th>NOME</th>
	                <th>CPF</th>
	                <th>HABILIDADES</th>
	                <th>ARTIGOS</th>
	                <th>CURSOS</th>
	                <th>DATA DE NASCIMENTO</th>
	                <th>NOME DA MÃE</th>
	                <th>CONTATO</th>
	                <th>AÇÕES</th>
                </tr>
            </thead>
            
            <tbody>
             
            		<tr th:if="${lista.empty}">
		                <td colspan="8">Nenhum registro armazenado.</td>
		            </tr>
		            <tr th:each="item : ${lista}">
		                <td><span id="nome" th:text="${item.nome}">Nome</span></td>
		                <td><span id="cpf" th:text="${item.cpf}">CPF</span></td>
		                <td><span id="habilidades" th:text="${item.habilidades}">Habilidades</span></td> <!-- Teste -->
		                <td><span id="artigos" th:text="${item.artigos}">Artigos</span></td> <!-- Teste -->
		                <td><span id="cursos" th:text="${item.cursos}">Cursos</span></td> <!-- Teste -->
		                <td><span id="dataNascimento" th:text="${item.dataNascimento}">Data de Nascimento</span></td>
		                <td><span id="nomeMae" th:text="${item.nomeDaMae}">Nome da Mãe</span></td>
		                <td><span id="contato" th:text="${item.telefone}">Contato</span></td>
                    <td id="Btn-remove-edit" width="180">
                        <a th:href="@{/alterarApenado(cpf=${item.cpf})}"><button>Editar</button></a>
                        <a th:href="@{/removerApenado(cpf=${item.cpf})}" th:attr="data-nome=${item.nome}, data-cpf=${item.cpf}"><button>Remover</button></a>
                    </td>
                	</tr>
          	</tbody>
          	<tfoot>
	        	<tr>
	        		<td colspan="4"></td>
	        		<td><span id="spanQtdPaginas" th:text="${pageCounter}"></span></td>
	        		<td id="previousAndNextButtons">
	        			<form action="#" th:action="@{/listarApenados}" method="post">
	        				<a href="?page=0">&lt;&lt;</a>
		        			<a th:href="@{?page={contador} (contador = ${previousPage})}">&lt;</a>
		        			<a th:href="@{?page={contador} (contador = ${nextPage})}">&gt;</a>
		        			<a th:href="@{?page={page}(page = ${quantidadePaginas - 1})}">&gt;&gt;</a>
	        			</form>
	        		</td>
	        	</tr>
		    </tfoot>    
        </table>
    </main>
</body>
</html>