<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/listarEmpresas.css}" />
    <script defer="defer" th:src="@{/js/result.js}"></script>
    <link rel="icon" th:href="@{/imgs/logoRD.png}">
    <title>Lista de Vagas</title>
   </head>

<body>

    <main>
        <div class="title">
            <div class="title">
                <a th:href="@{http://localhost:8080}">
                    <img th:src="@{/imgs/logoRD.png}" width="10%" height="10%" alt="" /> <!--Alterado dia 27/04/2023-->
                </a>

            </div>
            <!-- <h1>RESSOCIADIGI</h1> -->
        </div>
        <div class="top-layer">
            <legend>TODOS</legend>
        </div>
        <div class="header-tabela">
        	 <form action="#" th:action="@{/listarVagas}" method="post">
	            <div class="buscador">

                    <a> <img id="icone-filtro" th:src="@{/imgs/icone-filtro.png}" width="10%" height="10%" alt="" /> </a>
	            
	        	</div>
			 </form>
			<a th:href="@{/inserirVaga}"><button class="AdicionarEmpresa">+</button></a>
        </div>

        <div class="modal">
            <div class="modal-content">
                <span class="close"></span>

                <div id="titleContainer">
                    <h2>Busca Personalizada</h2>
                    <h1><span>Preechimento de todos os filtros não é necessário</span></h1>
                </div>

                <div id="containerModalFiltro">

                    <form method="post" action="/listarVagas">

                        <ul class="flex-outer">

                            <li>
                                <label for="empresa">Empresa</label>
                                <input type="text" id="empresa" nome="empresa">
                            </li>

                            <li>
                                <label for="tipo">Tipo</label>
                                <input type="text" id="tipo" nome="tipo">
                            </li>

                            <li>
                                <label for="interlocutor">Interlocutor</label>
                                <input type="text" id="interlocutor" nome="interlocutor">
                            </li>

                            <li>
                                <label for="quantidadeVagasMasculinas">Vagas Masculinas</label>
                                <input type="text" id="quantidadeVagasMasculinas" nome="quantidadeVagasMasculinas">
                            </li>

                            <li>
                                <label for="quantidadeVagasFemininas">Vagas Femininas</label>
                                <input type="text" id="quantidadeVagasFemininas" nome="quantidadeVagasFemininas">
                            </li>
                            <li>
                                <label for="cargaHoraria">Carga Horaria</label>
                                <input type="text" id="cargaHoraria" nome="cargaHoraria">
                            </li>

                            <li>
                                <button type="submit">Buscar</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>NOME DA EMPRESA</th>
                    <th>TIPO</th>
                    <th>INTERLOCUTOR</th>
                    <th>VAGAS MASCULINAS</th>
                    <th>VAGAS FEMININAS</th>
                    <th>CARGA HORÁRIA</th>
                    <th>OPERAÇÕES</th>
                </tr>
            </thead>
            
            <tbody>
            	<tr th:if="${listaVagas.empty}">
            		<td colspan="7">Não há vagas registradas no sistema.</td>
            	</tr>
                <tr th:each="vaga : ${listaVagas}">
                    <td data-label="NOME DA EMPRESA"><span th:text="${vaga.empresa.nome}">NOME DA EMPRESA</span></td>
                    <td data-label="TIPO"><span th:text="${vaga.tipo}">TIPO</span></td>
                    <td data-label="INTERLOCUTOR"><span th:text="${vaga.interlocutor}">INTERLOCUTOR</span></td>
                    <td data-label="VAGAS MASCULINAS"><span th:text="${vaga.quantidadeVagasMasculinas}">VAGAS MASCULINAS</span></td>
                    <td data-label="VAGAS FEMININAS"><span th:text="${vaga.quantidadeVagasFemininas}">VAGAS FEMININAS</span></td>
                    <td data-label="CARGA HORÁRIA"><span th:text="${vaga.cargaHoraria}">CARGA HORÁRIA</span></td>
                    <td id="Btn-remove-edit" width="180">
                        <a th:href="@{/alterarVaga(id=${vaga.getId()})}"><button>Editar</button></a>
                        <a th:href="@{/removerVaga(id=${vaga.getId()})}"><button>Remover</button></a>
                    </td>
                </tr>
          	</tbody>
        </table>

        <div id="footer">
            <div class="botao-container">
                <a id="botao-voltar" th:href="@{http://localhost:8080}">Voltar</a>
            </div>

            <div id="pagination">

                <div id="pageCounter"><p th:text="${'Pagina ' + numPaginaAtual + ' de ' + numTotalPaginas}"> </p></div>

                <div id="previousAndNextButtons">
                    <a href="?page=0">&lt;&lt;</a>
                    <a th:href="@{?page={contador} (contador = ${previousPage})}">&lt;</a>
                    <a th:href="@{?page={contador} (contador = ${nextPage})}">&gt;</a>
                    <a th:href="@{?page={page}(page = ${quantidadePaginas - 1})}">&gt;&gt;</a>
                </div>

            </div>
        </div>
    </main>
</body>

</html>
